<h1><%= link_to parent.nickname, parent %>'s collections > <%= resource.name %></h1>

<div class="card mb-4">
	<div class="card-body">
		<p><%= resource.description %></p>

		<ul>
		<% resource.items.each do |item| %>
			<li><%= link_to item.name, item %></li>
		<% end %>
		</ul>

		<% if current_user == parent %>
		<%= link_to 'Edit', edit_resource_path(@collection) %> |
		<% end %>
		<%= link_to 'Back', collection_url %>
	</div>
</div>