<div class="card max-w-md mx-auto">
		<%= form_for @idea_set, html: {class: "simple-form"} do |f| %>
		  <h1>Manage items related to <%= link_to @idea_set.display_name, :back %></h1>

		  <%= f.fields_for :items do |relitem| %>
		  	<%= render 'item_fields', f: relitem %>
		  <% end %>

		  <div class="form-group mb-4"><%= link_to_add_association 'Add another related item', f, :items %><br/></div>
		  
		  <%= f.submit "Save related items", class: "btn btn-primary" %>
		  
		<% end %>
</div>