<div class="row">
  <div class="col-md-6 mb-4">
    <div class="card">
      <header class="card-header">
        <h2 class="h3 card-header-title">Add a new learning resource</h2>
      </header>

      <div class="card-body">

        <%= form_for @idea_set do |form| %>
  
          <%= form.fields_for :items, @idea_set.items do |itemform| %>
          <div class="form-inline mb-4">
            <div class="form-group mr-2 mb-4">
              <%= itemform.collection_select :item_type_id, ItemType.all, :id, :display_name_plural, {required: true, selected: @item_type, prompt: "Select Format"}, required: true, class: "form-control" %>
            </div>

            <div class="form-group mb-4">
              <%= itemform.url_field :url, value: @item_url, required: true, placeholder: "URL", class: "form-control" %>
            </div>
          </div>
          <% end %>

            <div class="form-group mb-4">
              <%= form.label :topic, "Topics (you can choose multiple)" %><br>

              <div class="item_topics" id="topformdiv">
                <div id="search_topic" class="input-group input-group-sm mb-3">
                  <input type="text" class=" typehead form-control form-control-sm rounded" placeholder="Search Topics" aria-label="Search Topics" id="topics_input" autocomplete="off">
                  <div class="input-group-append">
                    <% @topics.to_a.map do |topic| %>
                      <div class="btn-group topic" data-id="<%= topic.id %>">
                        <input type="hidden" name="item[topics][]" value="<%= topic.id %>">
                        <div class= "btn btn-sm grey-btn"><%= topic.name %></div>
                        <div class="btn btn-sm remove_topic">
                          <i class="fa fa-times" aria-hidden="true"></i>
                        </div>
                      </div>
                    <% end %>
                  </div>
                </div>
                <span class="form-error topic_count_error hidden">Add minimum 1 topic.</span>
              </div>
            </div>

            <div class="form-group mb-4">
            <button class="btn btn-soft-primary" type="button" data-toggle="collapse" data-target="#reviewfields" aria-expanded="false" aria-controls="reviewfields">
              Add your review
            </button>
            <div class="collapse" id="reviewfields">
                <%= form.fields_for :review do |review_form| %>
                <div class="form-group mb-4">
                  <br/>
                  <%= review_form.select :status, [['select your status',''],['I have heard good things about it','recommending'], ['I have learned from this', 'learned'], ['I am currently going through this','learning'], ['I want to learn from this','want_to_learn']], {required: false}, class: "form-control" %>
                </div>

                <div class="form-group mb-4 star_ratings">
                <%= render 'components/fivestar_input', idprefix: 'overallstar', name: "review[overall_score]", value: nil %>
                </div>

                <div class="form-group mb-4">
                  <%= review_form.text_area :notes, class: "form-control" %>
                </div>
                <% end %>
            </div>
            </div>

          <div class="form-group mb-4 mu-4">
            <%= form.submit "Save", class: "btn btn-primary" %>
          </div>
        <% end %>
      </div>
    </div>
  </div>
</div>
