
<div class="row">
<!-- Cards with Tabs -->
<div class="col-md-6 mb-4">
<% if @user_topics.present? %>
	<% @user_topics.map(&:topic).each do |topic| %>
	      <div class="card mb-4">
	        <div class="card-header d-md-flex align-items-center">
	          <h2 class="h3 card-header-title"><%= link_to topic.name, topic, class: "btn #{Topic.button_style}" %></h2>

	          <!-- Tabs Nav -->
	          <ul class="nav nav-tabs card-header-tabs ml-md-auto mt-3 mt-md-0">
	           <li class="nav-item">
	             <a href="#<%= topic.id %>panelWithTabsTab1" class="nav-link active" role="tab" aria-selected="true" data-toggle="tab">Most Recent</a>
	           </li>
	           <li class="nav-item">
	             <a href="#<%= topic.id %>panelWithTabsTab2" class="nav-link" role="tab" aria-selected="true" data-toggle="tab">Most Popular</a>
	           </li>
	          </ul>
	          <!-- End Tabs Nav -->
	        </div>

	        <div class="card-body">
	          <!-- Tabs Content -->
	          <div class="tab-content">
	            <div class="tab-pane fade show active" id="<%= topic.id %>panelWithTabsTab1" role="tabpanel">
	            		<% topic.items.recent.each do |item| %>
	            		<div><%= render item %></div>
	            		<% end %>
	            </div>

	            <div class="tab-pane fade" id="<%= topic.id %>panelWithTabsTab2" role="tabpanel">
	            		<% topic.items.popular.each do |item| %>
	            		<div><%= render item %></div>
	            		<% end %>
	            </div>
	          </div>
	          <!-- End Tabs Content -->
	        </div>

	      </div>

	<% end %>
<% else %>
	      <div class="card">
	        <div class="card-header d-md-flex align-items-center">
	          <h2 class="card-header-title"><b>Your favorite topics</b></h2>
	        </div>
	        <div class="card-body">
	        	<p>No such topics. <%= link_to "Browse topics", topics_path %> and follow your favorite ones.</p>
	        </div>
	      </div>
<% end %>
</div>

<div class="col-md-6 mb-4">
     <div class="card">
        <div class="card-header d-md-flex align-items-center">
        	<h2><b>Latest Reviews</b></h2>
        </div>
        <div class="card-body">
        	<% if @following_reviews.any? %>
        		<div class="list-group list-lg-group list-group-flush">
	        	<% @following_reviews.each do |rev| %>
					<%= render partial: 'components/review_card', locals: {rev: rev} %>
	        	<% end %>
	        	</div>
	        <% else %>
	        	<p>No reviews. <%= link_to "Consider following more users?", users_path %> 
	        		<%# Review.recent.where("user_id NOT IN (?)", Array.wrap([current_user.id] + current_user.following.map(&:id))).includes(:user).map(&:user).uniq.each do |u| %>
	        			<%# link_to u.nickname, user_path(u) %>
	        		<%# end %>
	        	</p>
	        <% end %>
        </div>
</div>

</div>

