<% if @user_topics.present? %>
<h3 class="text-lg leading-6 font-medium text-gray-900 mb-4 font-semibold">Your Topics</h3>

<div class="overflow-auto whitespace-no-wrap md:grid md:grid-cols-2 lg:grid-cols-3 xl:grid-cols-4 md:overflow-hidden md:gap-6 mb-4">

	<% @user_topics.map(&:topic).each do |topic| %>
	          <%= link_to topic, class: "inline-block max-w-xs rounded-md overflow-hidden mr-3 md:mr-0 transition duration-200 transform hover:scale-105" do %>
			  	<img src="<%= topic.image_url(true) %>" alt="<%= topic.display_name %>" class="w-full h-24 object-cover object-center">
				<h3 class="bg-gray-800 py-2 px-4 text-white font-semibold text-lg"><%= topic.display_name %></h3>
			  <% end %>
	<% end %>

</div>

<% end %>


<% if @following_reviews.any? %>
<h3 class="text-lg leading-6 font-medium text-gray-900 mb-4 font-semibold">Activity</h3>

<div class="my-4 max-w-3xl mx-auto grid grid-cols-1 gap-6 sm:px-6 lg:max-w-full lg:grid-flow-col-dense lg:grid-cols-3">
	<section class="space-y-6 lg:col-start-1 lg:col-span-2" aria-labelledby="applicant-information-title">
	  <% @following_reviews.each do |rev| %>
		<%= render ActivityPanelComponent.new(review: rev, user: current_user) %>
	  <% end %>
	</section>

	<!-- <section aria-labelledby="timeline-title" class="lg:col-start-3 lg:col-span-1">
		<div class="bg-white px-4 py-5 shadow sm:rounded-lg sm:px-6 mb-8">
			<p>Aside</p>
		</div>
	</section> -->
</div>
<% end %>