
<div class="row">
<!-- Cards with Tabs -->
<div class="col-md-6 mb-4">
<% if @user_topics.any? %>
	<% @user_topics.map(&:topic).each do |topic| %>
	      <div class="card">
	        <div class="card-header d-md-flex align-items-center">
	          <h2 class="h3 card-header-title"><%= link_to topic.name, topic, class: "btn #{Topic.button_style}" %></h2>

	          <!-- Tabs Nav -->
	          <ul class="nav nav-tabs card-header-tabs ml-md-auto mt-3 mt-md-0">
	           <li class="nav-item">
	             <a href="#<%= topic.id %>panelWithTabsTab1" class="nav-link active" role="tab" aria-selected="true" data-toggle="tab">Most Recent</a>
	           </li>
	           <li class="nav-item">
	             <a href="#<%= topic.id %>panelWithTabsTab2" class="nav-link" role="tab" aria-selected="true" data-toggle="tab">Most Popular</a>
	           </li>
	          </ul>
	          <!-- End Tabs Nav -->
	        </div>

	        <div class="card-body">
	          <!-- Tabs Content -->
	          <div class="tab-content">
	            <div class="tab-pane fade show active" id="<%= topic.id %>panelWithTabsTab1" role="tabpanel">
	            		<% topic.items.recent.each do |item| %>
	            		<div><%= render item %></div>
	            		<% end %>
	            </div>

	            <div class="tab-pane fade" id="<%= topic.id %>panelWithTabsTab2" role="tabpanel">
	            		<% topic.items.popular.each do |item| %>
	            		<div><%= render item %></div>
	            		<% end %>
	            </div>
	          </div>
	          <!-- End Tabs Content -->
	        </div>

	      </div>

	<% end %>
<% else %>
	      <div class="card">
	        <div class="card-header d-md-flex align-items-center">
	          <h2 class="h3 card-header-title">Your favorite topics</h2>
	        </div>
	        <div class="card-body">
	        	<p>No such topics. <%= link_to "Browse topics", topics_path %> and follow your favorite ones.</p>
	        </div>
	      </div>
<% end %>
</div>

<div class="col-md-6 mb-4">
     <div class="card">
        <div class="card-header d-md-flex align-items-center">
        	<h2>Latest Reviews</h2>
        </div>
        <div class="card-body">
        	<% if @following_reviews.any? %>
        		<div class="list-group list-lg-group list-group-flush">
	        	<% @following_reviews.each do |rev| %>
	        		<div class="list-group-item">
						<div class="media">
							<img class="u-avatar rounded-circle mr-3" src="<%= rev.user.avatar_image %>" alt="<%= rev.user.nickname %>"/>

							<div class="media-body">
								<div class="d-md-flex align-items-center">
									<h4 class="mb-1">
										<%= link_to rev.user.nickname, user_path(rev.user) %> <span class="badge badge-light mx-1"><%= rev.display_rating %></span> <%= link_to rev.item.name, review_path(rev) %>
									</h4>
									<small class="text-muted ml-md-auto"><%= rev.created_at.to_date.to_s %></small>
								</div>
								<p><i><%= rev.tags_text %></i></p>
								<p class="mb-0"><%= rev.notes.to_s[0..200] %></p><br/>
							</div>
						</div>
	        		</div>
	        	<% end %>
	        	</div>
	        <% else %>
	        	<p>No reviews. Consider following more users: 
	        		<% Review.recent.where("user_id != ?", current_user.id).includes(:user).map(&:user).uniq.each do |u| %>
	        			<%= link_to u.nickname, user_path(u) %>
	        		<% end %>
	        	</p>
	        <% end %>
        </div>
</div>

</div>

