    <!-- Header (Topbar) -->
    <header class="u-header">
      <div class="u-header-left">
        <a class="u-header-logo" href="/">
          <img class="u-logo-desktop" src="/stream/assets/img/logo.png" width="160" alt="LearnAwesome">
          <img class="img-fluid u-logo-mobile" src="/stream/assets/img/logo-mobile.png" width="50" alt="LearnAwesome">
        </a>
      </div>

      <div class="u-header-middle">
        <a class="js-sidebar-invoker u-sidebar-invoker" href="#!"
           data-is-close-all-except-this="true"
           data-target="#sidebar">
          <i class="fa fa-bars u-sidebar-invoker__icon--open"></i>
          <i class="fa fa-times u-sidebar-invoker__icon--close"></i>
        </a>

        <div class="u-header-search"
             data-search-mobile-invoker="#headerSearchMobileInvoker"
             data-search-target="#headerSearch">
          <a id="headerSearchMobileInvoker" class="btn btn-link input-group-prepend u-header-search__mobile-invoker" href="#!">
            <i class="fa fa-search"></i>
          </a>

          <div id="headerSearch" class="u-header-search-form">
            <form action="/search?top=true" accept-charset="UTF-8" method="get">
              <div class="input-group" id="topformdiv">
                <button class="btn-link input-group-prepend u-header-search__btn" type="submit">
                  <i class="fa fa-search"></i>
                </button>
                <input name="q" value="<%= @q %>" autocomplete="off" minlength="3" maxlength="30" class="form-control u-header-search__field typeahead" id="topsearch" type="search" placeholder="What do you wanna learn?" style="border-radius: 2px; border: thin solid gray; padding-left: 4px">
              </div>
            </form>
          </div>
        </div>
      </div>

      <div class="u-header-right">

        <% if current_user.present? %>
        <!-- Notifications -->
        <div class="dropdown mr-4">
          <a class="link-muted" href="#!" role="button" id="dropdownMenuLink" aria-haspopup="true" aria-expanded="false" data-toggle="dropdown">
            <span class="h3">
              <i class="far fa-bell"></i>
            </span>
            <span class="u-indicator u-indicator-top-right u-indicator--xxs bg-info"></span>
          </a>

          <div class="dropdown-menu dropdown-menu-right border-0 py-0 mt-4" aria-labelledby="dropdownMenuLink" style="width: 360px;">
            <div class="card">
              <div class="card-header d-flex align-items-center py-3">
                <h2 class="h4 card-header-title">Notifications</h2>
                <!-- <a class="ml-auto" href="#">Clear all</a> -->
              </div>

              <div class="card-body p-0">
                <div class="list-group list-group-flush">
                  <% current_user.notifications.each do |n| %>
                  <!-- Notification -->
                  <%= link_to(n.target, class: "list-group-item list-group-item-action", target: :_blank) do %>
                  <!-- <a class="list-group-item list-group-item-action" href="<%= n.target %>"> -->
                    <div class="media align-items-center">
                      <img class="u-avatar--xs img-fluid rounded-circle mr-2" src="<%= n.image %>" alt="User Profile">


                      <div class="media-body">
                        <div class="d-flex align-items-center">
                          <h4 class="mb-1"><%= n.headline %></h4>
                          <small class="text-muted ml-auto"><%= n.date %></small>
                        </div>

                        <p class="text-truncate mb-0" style="max-width: 250px;">
                          <%= n.msg %>
                        </p>
                      </div>
                    </div>
                  </a>
                  <% end %>
                  <!-- End Notification -->
                  <% end %>

                </div>
              </div>

              <!--<div class="card-footer py-3">
                <a class="btn btn-block btn-outline-primary" href="#">View all notifications</a>
              </div>-->
            </div>
          </div>
        </div>
        <!-- End Notifications -->


        <!-- User Profile -->
        <div class="dropdown ml-2">
          <a class="link-muted d-flex align-items-center" href="#!" role="button" id="dropdownMenuLink" aria-haspopup="true" aria-expanded="false" data-toggle="dropdown">
            <img class="u-avatar--xs img-fluid rounded-circle mr-2" src="<%= current_user.avatar_image %>" alt="User Profile">
            <span class="text-dark d-none d-sm-inline-block">
              <%= current_user.nickname %> <small class="fa fa-angle-down text-muted ml-1"></small>
            </span>
          </a>

          <div class="dropdown-menu dropdown-menu-right border-0 py-0 mt-3" aria-labelledby="dropdownMenuLink" style="width: 260px;">
            <div class="card">

              <div class="card-body">
                <ul class="list-unstyled mb-0">
                  <li class="mb-4">
                    <a class="d-flex align-items-center link-dark" href="/flash_cards/practice">
                      <span class="h3 mb-0"><i class="far fa-user-circle text-muted mr-2"></i></span> Practice Flash Cards
                    </a>
                  </li>

                  <li class="mb-4">
                    <a class="d-flex align-items-center link-dark" href="/users/<%= current_user.id %>">
                      <span class="h3 mb-0"><i class="far fa-user-circle text-muted mr-2"></i></span> View Profile
                    </a>
                  </li>

                  <li class="mb-4">
                    <a class="d-flex align-items-center link-dark" href="/users/<%= current_user.id %>/settings">
                      <span class="h3 mb-0"><i class="far fa-list-alt text-muted mr-2"></i></span> Settings
                    </a>
                  </li>
<!--
                  <li class="mb-4">
                    <a class="d-flex align-items-center link-dark" href="#!">
                      <span class="h3 mb-0"><i class="far fa-laugh-wink text-muted mr-2"></i></span> Invite your friends
                    </a>
                  </li>
-->
                  <li>
                    <a class="d-flex align-items-center link-dark" href="/logout">
                      <span class="h3 mb-0"><i class="far fa-share-square text-muted mr-2"></i></span> Sign Out
                    </a>
                  </li>
                </ul>
              </div>
            </div>
          </div>
        </div>
        <!-- End User Profile -->

        <% else %>

        <a class="btn btn-info" href="/auth/auth0">Sign In <%= current_user %></a>

        <% end %>
      </div>
    </header>
    <!-- End Header (Topbar) -->