<a href="<%= link %>" class="mr-4">
<div class="w-64 bg-white rounded-lg p-6 shadow-lg">
    <img class="h-16 w-16 md:h-24 md:w-24 rounded-full mx-auto md:mx-0" src="<%= avatar_image %>" alt="<%= name %>">
    <div class="text-center md:text-left">
        <h2 class="text-lg"><%= name %></h2>
        <div class="text-grey-600"><%= description %></div>
    </div>
</div>
</a>