<a href="<%= link %>" class="inline-block max-w-xs my-10 mr-10 bg-white shadow-lg rounded-lg overflow-hidden">
      <div class="bg-white rounded overflow-hidden shadow-lg">
        <div class="text-center p-6  border-b">
          <img
            class="h-16 w-16 rounded-full mx-auto"
            src="<%= avatar_image %>"
            alt="<%= name %>"
          />
          <p class="pt-2 text-lg font-semibold"><%= name %></p>
          <p class="text-sm text-gray-600"><%= description %></p>
        </div>
      </div>
</a>