<div class="list-group-item list-group-item-action">
    <div class="media">
        <%= link_to user_path(rev.user) do %>
            <img class="u-avatar rounded-circle mr-3" src="<%= rev.user.avatar_image %>" alt="<%= rev.user.nickname %>">
        <% end %>

        <div class="media-body">
            <div class="d-md-flex align-items-center">
                <h4 class="mb-1">
                    <%= link_to rev.user.nickname, user_path(rev.user) %> <%= rev.display_rating %> <%= link_to rev.item.name, item_path(rev.item) %>
                </h4>
                <small class="text-muted ml-md-auto" title="<%= rev.created_at.to_date %>">
                    <% if rev.persisted? %>
                        <%= link_to (time_ago_in_words(rev.created_at) + " ago"), review_path(rev) %>
                    <% else %>
                        <%= time_ago_in_words(rev.created_at) %> ago
                    <% end %>
                </small>
            </div>
            <p><i><%= rev.tags_text %></i></p>
            <p class="mb-0"><%= rev.notes.to_s.truncate(200) %></p><br/>
        </div>
    </div>
</div>