<h2>Hi <%= @user.nickname %></h2>

<% unless @new_followers.blank? %>
  <p>You got new followers yesterday:<br/>

  <% @new_followers.each do |f| %>
    <%= link_to f.nickname, user_url(f) %>
  <% end %>
  </p>
<% end %>

<% unless @new_fav_items.blank? %>
  <p>New items have been added to your favorite topics:<br/>

  <% @new_fav_items.each do |i| %>
    <%= link_to i.name, item_url(i) %>
  <% end %>
  </p>
<% end %>

<% unless @new_global_users.blank? %>
  <p><%= link_to "#{@new_global_users.size} new users", users_url %> joined yesterday:
    <% @new_global_users[0..5].each do |f| %>
    <%= link_to f.nickname, user_url(f) %>
    <% end %>
  </p>
<% end %>

<% unless @new_items.blank? %>
  Some of the learning resources which were added yesterday:
    <ul>
    <% @new_items.each do |i| %><li>
      <%= link_to i.name, item_url(i) %> in <%= safe_join(i.topics.map { |t| link_to(t.name, topic_url(t)) }, ", ".html_safe) %>
    </li><% end %>
    </ul>
<% end %>

<p>We have been adding many advanced features lately. You can <%= link_to "explore them here", onboarding_user_url(@user) %> and
increase your power user score.</p>

<p>
Happy learning :)
<br/>
Team LearnAwesome
</p>