<h2><%= @follower.nickname %> has started following you. Consider <%= link_to "following them back", user_url(@follower) %>?</h2>

<% if @follower.user_topics.any? %>
<p>
<%= @follower.nickname %> is interested in 
<% @follower.user_topics.limit(3).each do |t| %>
	<%= link_to t.topic.name, topic_url(t.topic) %>,
<% end %>.
</p>
<% end %>

<p><%= User.where("created_at > ?", Time.now.beginning_of_day - 7.day).count %> users have joined recently and you can <%= link_to "discover more of them here", users_url %>. Also, we 
have been adding many advanced features lately. You can <%= link_to "explore them here", onboarding_user_url(@user) %> and
increase your power user score.</p>
