<div class="row">
	<div class="col-md-6 mb-4">
	  <div class="card">
        <div class="card-header d-md-flex align-items-center">
        	<h2 class="h3 card-header-title"><%= @person.name %></h2>
                <% if current_user.try(:score).to_i > 500 %>
                        &nbsp;&nbsp;<%= link_to "Edit", edit_person_path(@person) %>
                <% end %>
        </div>
        <div class="card-body">
         <% if @person.image_url.present? %>
            <img class="u-avatar rounded-circle mr-3" src="<%= @person.image_url %>" alt="<%= @person.name %>">
         <% end %>
        	<p><%= @person.description %></p><hr/>
        	<h3>Works</h3>
        	<ul>
        	<% @person.items.group_by(&:item_type).each do |it, items| %>
        		<% items.each do |i| %>
        			<li><%= render i %></li>
        		<% end %>
        	<% end %>
        	</ul>
        </div>
        <footer class="card-footer">
			<ul class="list-inline mb-0">
			     <% if @person.website.present? %>
                                <li class="list-inline-item"><a href="<%= @person.website %>" target="_blank">Website</a></li>
                             <% end %>
                             <% if @person.twitter_url.present? %>
                                <li class="list-inline-item"><a href="<%= @person.twitter_url %>" target="_blank">Twitter</a></li>
                             <% end %>
                             <% if @person.goodreads_url.present? %>
                                <li class="list-inline-item"><a href="<%= @person.goodreads_url %>" target="_blank">GoodReads Author Profile</a></li>
                             <% end %>
			</ul>
        </footer>
	  </div>
	</div>
</div>