<div class="max-w-md bg-white shadow-lg rounded-lg overflow-hidden">
    <div class="py-4 px-6">
        <p class="mb-4">
            <% if @person.image_url.present? %>
                <img src="<%= @person.image_url %>" alt="<%= @person.name %>" class="inline h-16 object-cover object-center">
            <% end %>
            <span class="text-xl font-semibold text-gray-800">
            <%= @person.name %>
            <% if @person.kind %>(<%= @person.kind %>)<% end %>
            </span>
        </p>
        
        <% if current_user.try(:score).to_i > 500 %><%= link_to "Edit", edit_person_path(@person), class: "text-blue-500 underline" %><% end %>
        <p class="py-2 text-gray-700"><%= @person.description %></p>

        <% if @person.website.present? %>
            <%= link_to "Website", @person.website, class: "text-blue-500 underline mr-2" %>
        <% end %>

        <% if @person.twitter_url.present? %>
            <%= link_to "Twitter", @person.twitter_url, class: "text-blue-500 underline mr-2" %>
        <% end %>

        <% if @person.goodreads_url.present? %>
            <%= link_to "GoodReads Author Profile", @person.goodreads_url, class: "text-blue-500 underline mr-2" %>
        <% end %>
    </div>

    <div class="py-4 px-6">
        <h2 class="text-md font-semibold text-gray-800">Works:</h2>
        <ul>
        <% @person.items.group_by(&:item_type).each do |it, items| %>
            <% items.each do |i| %>
                <li><%= render i %></li>
            <% end %>
        <% end %>
        </ul>
    </div>

    <div class="py-4 px-6">
        <h2 class="text-md font-semibold text-gray-800">Recommendations:</h2>
        <ul>
        <% @person.recommended_idea_sets.includes(:items).each do |idea_set| %>
                <li class="mb-2"><%= render idea_set.items.first %></li>
        <% end %>
        </ul>
    </div>
</div>