<div class="bg-gray-200 shadow-lg rounded-lg">
  <div class="border-b border-gray-200 px-2 py-2">
    <a href="<%= user_path(@review.user) %>"><img class="inline-block h-14 w-14 rounded-full" src="<%= @review.user.avatar_image %>" alt=""></a>
    <a href="<%= user_path(@review.user) %>"><b><%= @review.user.nickname %></b></a> <%= @review.display_status %>
  </div>
  <div class="bg-white rounded-b-lg">
    <%= render ItemPanelComponent.new(item: @review.item, user: @user, hide_item_type: true, hide_topics: true) %>
  </div>
</div>
