<div class="flex flex-col">
<div class="flex-1 p-6 flex flex-col">
  <div>
    <div class='w-32 mb-2 ml-2 float-right 2xl:w-40'>
      <%= render ItemThumbnailComponent.new(item: @item) %>
    </div>
    <div class='inline'>
      <div>
        <% unless @hide_item_type %>
        <a href="/item_types/<%= @item.item_type_id %>" class="inline-block">
          <span class="inline-flex items-center px-3 py-0.5 rounded-full bg-pink-100 text-pink-800">
            <%= @item.item_type_id %>
          </span>
        </a>
        in
        <% end %>
        <% unless @hide_topics %>
        <% @item.topics.each do |topic| %>
          <a href='<%= topic_path(topic) %>' class="flex-shrink-0 inline-block px-2 py-0.5 text-gray-800 bg-gray-100 rounded-full"><%= topic.display_name %></a>
        <% end %>
        <% end %>
      </div>
      <a href="<%= item_path(@item) %>" class="block">
        <h3 class="mt-4 text-xl leading-7 font-semibold text-gray-900">
          <%= @item.display_name %>
        </h3>
        <p class="text-gray-500 text-sm"><%= @item.primary_link.top_domain %></p>
        <p class="mt-3 text-base leading-6 text-gray-500">
          <%= @item.display_description %>
        </p>
      </a>
    </div>
  </div>
</div>

<div class="border-t border-gray-200">
  <div class="-mt-px flex">
    <div class="w-0 flex-1 flex border-r border-gray-200">
      <div class="relative -mr-px w-0 flex-1 inline-flex justify-around items-center p-2">
        <%= render SplitButtonComponent.new(item: @item, user: @user, isopen: false) %>
        <%= render FiveStarComponent.new(review: Review.find_or_initialize_by(item_id: @item.id, user: @user)) %>
        <div class="flex p-2 overflow-hidden">
          <% @item.get_people(@user).each_with_index do |p, i| %>
            <img title="<%= p.nickname %>" class="<%= i >= 1 ? '-ml-2' : '' %> inline-block h-10 w-10 rounded-full text-white shadow-solid" src="<%= p.avatar_image %>" alt="">
          <% end %>
        </div>
      </div>
    </div>

  </div>
</div>
</div>

