<main class="bg-white shadow rounded-md">

<article class="px-4 py-4">

  <% if !@is_embedded %>
  <div class="mb-4 text-sm text-gray-900">
    <a href="/item_types/<%= @item.item_type_id %>" class="text-gray-500 hover:text-black font-semibold">
      <%= ItemType.display_name_singular(@item.item_type_id).capitalize %>
    </a>
    <span class="text-gray-400 mx-1">in</span>

    <% @item.idea_set.topics.take(3).each do |topic| %>
      <a href='<%= topic_path(topic) %>' class="flex-shrink-0 px-1 py-0.5 text-gray-500 bg-gray-100 border border-gray-200 rounded hover:bg-gray-200 hover:text-black font-semibold"><%= topic.display_name %></a>
    <% end %>
  </div>
  <% end %>

  <% if @item.book_cover_size_image %>
    <a href="<%= @item.primary_link.url %>" target='_blank'>
      <img class="h-64 w-44 mr-6 mb-6 float-left border border-purple-200 rounded-md shadow-md md:shadow-xl transform transition ease-out duration-300 hover:scale-105" 
        src="<%= @item.book_cover_size_image %>" alt="">
    </a>
  <% end %>

  <% if @item.primary_link %>
  <a href="<%= @item.primary_link.url %>" target='_blank' class="">
      <h1 class="inline text-xl md:text-2xl font-bold border-dashed border-b border-transparent hover:border-purple-500"><%= @item.display_name %></h1>
      <p class="inline whitespace-no-wrap">
        <span class="text-gray-500 text-sm">
          (<%= @item.primary_link.top_domain %>)
        </span>
        <span class="text-purple-600 text-sm">
          <svg class="inline h-4 w-4" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke="currentColor">
            <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M10 6H6a2 2 0 00-2 2v10a2 2 0 002 2h10a2 2 0 002-2v-4M14 4h6m0 0v6m0-6L10 14" />
          </svg>
        </span>
    </p>
  </a>
  <% else %>
  <h1 class="text-xl md:text-2xl font-bold"><%= @item.display_name %></h1>
  <% end %>

  <p class="my-2">
  <% @item.authors.each do |au| %>
    <%= link_to(au, class: "text-purple-600 hover:text-purple-800 tracking-light") do %>
      <% if au.image_url.present? %>
          <img src="<%= au.image_url %>" alt="<%= au.name %>" class="inline h-8 w-8 rounded-full object-cover object-center">
      <% else %>
      <span class="inline-flex items-center justify-center h-8 w-8 rounded-full bg-purple-900">
          <span class="text-sm font-bold leading-none text-white"><%= au.initials %></span>
      </span>
      <% end %>
      <span class="mr-4"><%= au.name %></span>
    <% end %>
  <% end %>
  </p>

  <%if @item.embed_tag %>
      <%= @item.embed_tag %>
  <% elsif @item.video_thumbnail_size_image %>
    <a href="<%= @item.primary_link.url %>" target='_blank'><img class="w-full rounded-md shadow-lg" src="<%= @item.video_thumbnail_size_image %>" alt=""></a>
  <% end %>

  <% if @item.alternative_links.any? %>
  <p class="my-2 text-sm text-gray-500">Also available on 
    <%= @item.alternative_links.map { |l| "<a href='#{l.url}' target='_blank' class='text-purple-600 hover:text-purple-800'>#{l.top_domain}</a>" }.to_sentence.html_safe %>.
  </p>
  <% end %>

  <div class="text-justify text-sm text-gray-500 prose <% if @is_embedded %>overflow-y-auto max-h-96<% end %> max-w-full">
      <%= @item.display_description %>
  </div>

  <div class="clear-both mt-6 flex flex-col space-y-2 sm:flex-row sm:justify-between sm:items-stretch sm:space-y-0 sm:space-x-2">
    <%= render FiveStarComponent.new(review: @my_review) %>
    <%= render SplitButtonComponent.new(review: @my_review, isopen: false) %>
  </div>

  <% if @item.detail_params.present? %>
  <div class="flex mt-8 border-t border-b border-gray-100 p-2 justify-between rounded-lg">
  <% @item.detail_params.each do |k,v| %>
    <div class="text-center px-2 md:px-6">
      <p class="uppercase text-gray-400 text-xs"><%= k %></p>
      <p class="md:text-2xl"><%= v %></p>
    </div>
  <% end %>
  </div>
  <% end %>

  <!-- Review and recommendations -->
  <% if @reviews.any? %>
  <div class="mt-8">
    <p class="text-sm text-gray-700 mb-2">Reviewed by <%= rev_message %></p>
    <div class="hidden md:block" x-data="{ tab: '<%= @reviews.first.id %>' }">
      <div class="flex -mx-px">
        <% @reviews.each do |r| %>
        <button
          x-on:click="tab = '<%= r.id %>'"
          x-bind:class="{ 'top-1': tab === '<%= r.id %>','bg-gray-100': tab === '<%= r.id %>', 'border-b-0': tab === '<%= r.id %>'}"
          class="relative bg-transparent hover:bg-gray-100 border border-gray-200 text-gray-700 font-semibold rounded-t focus:outline-none mx-px py-2 px-4"
          type="button"
        >
          <img class="inline h-6 w-6 rounded-full" src="<%= (r.try(:person) || r.try(:user)).try(:avatar_image) %>" alt="">
          <%= r.try(:person).try(:name) || r.try(:user).try(:nickname) %>
        </button>
        <% end %>
      </div>
      <ul class="bg-gray-100 p-4 border border-gray-200 rounded-b">
        <% @reviews.each do |r| %>
        <li x-show="tab === '<%= r.id %>'">
          <% if r.is_a?(Review) %>
          <p>
            <span class="text-orange-500 text-lg mr-2"><%= r.display_rating %></span>
            <% r.quality_tags.each_with_index do |tag, index| %>
            <span class="inline-flex items-center px-3 py-0.5 rounded-full text-sm font-medium bg-<%= @tag_colors[index] %>-100 text-<%= @tag_colors[index] %>-800">
              <%= tag %>
            </span>
            <% end %>
          </p>
          <% end %>
          <%= r.notes %> <%# TODO: we seem to have some recommendations without any metadata/url/rating etc %>
          <% if r.is_a?(Recommendation) && r.url.present? %>
            <p class="mt-4">From <a class="text-purple-500 underline hover:text-purple-700" href='<%= r.url %>' target='_blank'><%= r.url %></a></p>
          <% end %>
        </li>
        <% end %>
      </ul>
    </div>

    <div class="block md:hidden">
      <% @reviews.each do |r| %>
        <div class="mb-4 bg-gray-50 p-4 border border-gray-200">
          <div>
            <img class="inline h-6 w-6 rounded-full" src="<%= (r.try(:person) || r.try(:user)).try(:avatar_image) %>" alt="">
            <%= r.try(:person).try(:name) || r.try(:user).try(:nickname) %>:
          </div>
          <p class="pl-8 py-4 text-gray-600"><%= r.notes %></p>
          <% if r.is_a?(Recommendation) && r.url.present? %>
            <p class="mt-4">From <a class="text-purple-500 underline hover:text-purple-700" href='<%= r.url %>' target='_blank'><%= r.url %></a></p>
          <% end %>
        </div>
      <% end %>
    </div>
  </div>
  <% end %>


</article>

<!-- card footer -->
<footer class="bg-purple-50 rounded-b-lg px-4 py-2 flex flex-wrap items-center">
  <div class="text-xs text-gray-500">
    Added <% if @item.user %>by <%= link_to @item.user.nickname, @item.user, class: "hover:underline hover:text-gray-700" %><% end %> 
    <%= link_to (time_ago_in_words(@item.created_at) + " ago"), @item, class: "hover:underline hover:text-gray-700", title: @item.created_at.to_s %>
  </div>
  <div x-data="{ isopen: false }" class="relative flex flex-grow justify-end space-x-4">
    <button @click="isopen = !isopen" aria-haspopup="true" class="w-8 h-8 bg-gray-50 inline-flex items-center justify-center text-gray-400 rounded-full hover:text-gray-500 hover:bg-white focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-purple-500">
      <span class="sr-only">Actions</span>
      <!-- Heroicon name: dots-vertical -->
      <svg class="w-5 h-5" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" fill="currentColor" aria-hidden="true">
        <path d="M10 6a2 2 0 110-4 2 2 0 010 4zM10 12a2 2 0 110-4 2 2 0 010 4zM10 18a2 2 0 110-4 2 2 0 010 4z" />
      </svg>
    </button>

    <div
    x-cloak
    x-show="isopen"
    @click.away="isopen = false"
    x-transition:enter="transition ease-out duration-100 transform"
    x-transition:enter-start="opacity-0 scale-95"
    x-transition:enter-end="opacity-100 scale-100"
    x-transition:leave="transition ease-in duration-75 transform"
    x-transition:leave-start="opacity-100 scale-100"
    x-transition:leave-end="opacity-0 scale-95" 
     class="z-10 mx-3 origin-top-right absolute right-10 top-3 w-48 mt-1 rounded-md shadow-lg bg-white ring-1 ring-black ring-opacity-5 divide-y divide-gray-200" role="menu" aria-orientation="vertical" >
      <div class="py-1" role="none">
        <%= link_to "View", @item, class: "block px-4 py-2 text-sm text-gray-700 hover:bg-gray-100 hover:text-gray-900", role: "menuitem" %>
      </div>
      <div class="py-1" role="none">
        <a target='_blank' href="https://twitter.com/intent/tweet?url=<%= item_url(@item) %>" class="block px-4 py-2 text-sm text-gray-700 hover:bg-gray-100 hover:text-gray-900" role="menuitem">Share on Twitter</a>
        <a target='_blank' href="https://www.facebook.com/sharer/sharer.php?u=<%= item_url(@item) %>&src=sdkpreparse" class="block px-4 py-2 text-sm text-gray-700 hover:bg-gray-100 hover:text-gray-900" role="menuitem">Share on Facebook</a>
      </div>
      <div class="py-1" role="none">
        <% if @item.can_user_edit?(@viewer) %>
        <a class="block px-4 py-2 text-sm text-gray-700 hover:bg-gray-100 hover:text-gray-900" href="<%= edit_item_path(@item, item_id: @item.id) %>" title="Edit Item">
          <i class="far fa-edit"></i> Edit Item
        </a>
        <% end %>

        <% if @item.can_user_destroy?(@viewer) %>
        <%= link_to @item, method: 'delete', data: { confirm: "Are you sure?" }, class: 'block px-4 py-2 text-sm text-gray-700 hover:bg-gray-100 hover:text-gray-900', title: "Delete Item" do %>
          <i class="fas fa-trash-alt"></i> Delete Item
        <% end %>
        <% end %>

        <% if @item.can_user_change_related_items?(@viewer) %>
        <a class="block px-4 py-2 text-sm text-gray-700 hover:bg-gray-100 hover:text-gray-900" href="<%= edit_idea_set_path(@item.idea_set) %>" title="Add or remove related items">
          <i class="fas fa-cogs"></i> Related Items
        </a>
        <% end %>

        <% if @item.can_user_add_recommendations?(@viewer) %>
        <a class="block px-4 py-2 text-sm text-gray-700 hover:bg-gray-100 hover:text-gray-900" href="<%= new_recommendation_path(idea_set_id: @item.idea_set_id) %>" title="Add Recommendation">
          <i class="fas fa-plus-circle"></i> Recommendations
        </a>
        <% end %>
      </div>
    </div>
  </div>
</footer>

</main>



