<main class="rounded-lg">

  <div>
    <% unless @hide_item_type %>
    <a href="/item_types/<%= @item.item_type_id %>" class="inline-block">
      <span class="inline-flex items-center px-3 py-0.5 rounded-full bg-pink-100 text-pink-800">
        <%= @item.item_type_id %>
      </span>
    </a>
    in
    <% end %>
    <% unless @hide_topics %>
      <% @item.topics.each do |topic| %>
        <a href='<%= topic_path(topic) %>' class="flex-shrink-0 inline-block px-2 py-0.5 text-gray-800 bg-gray-100 rounded-full"><%= topic.display_name %></a>
      <% end %>
    <% end %>
  </div>

  <% if !@item.image_might_be_landscape? && @item.image_url.present? %>
    <!-- non-video (book) with a cover image -->
    <img class="h-64 mr-2 mb-2 float-left rounded-md shadow-xl" src="<%= @item.image_url %>" alt="">
  <% end %>

  <a href="<%= item_path(@item) %>">
      <h1 class="text-xl font-bold">
        <%= @item.display_name %>
        <span class="text-gray-400">(<%= @item.primary_link.top_domain %>)</span>
      </h1>
  </a>

  <p class="">Author name</p>
  <% if @item.image_might_be_landscape? && @item.image_url.present? %>
    <img class="w-full rounded-md shadow-lg" src="<%= @item.image_url %>" alt="">
  <% end %>
  <p class="text-justify"><%= @item.display_description %></p>

  <div class="clear-both flex flex-wrap justify-between">
    <%= render FiveStarComponent.new(review: Review.find_or_initialize_by(item_id: @item.id, user: @user)) %>
    <%= render SplitButtonComponent.new(item: @item, user: @user, isopen: false) %>
  </div>

  <div class="flex mt-4 border-t border-b border-gray-100 p-2 justify-between rounded-lg">
    <div class="text-center px-2 md:px-6">
      <p class="uppercase text-gray-400 text-xs">Published</p>
      <p class="md:text-2xl">2009</p>
    </div>
    <div class="text-center px-6">
      <p class="uppercase text-gray-400 text-xs">Language</p>
      <p class="md:text-2xl">EN</p>
    </div>
    <div class="text-center px-6">
      <p class="uppercase text-gray-400 text-xs">Price</p>
      <p class="md:text-2xl">$132</p>
    </div>
    <div class="text-center px-6">
      <p class="uppercase text-gray-400 text-xs">Read time</p>
      <p class="md:text-2xl">15 min</p>
    </div>
  </div>

  <!-- Review tabs -->
  <div class="">
    <p class="">Reviewed by 3 experts and 2 friends</p>
    <div class="hidden md:block" x-data="{ tab: '<%= @reviews.first.id %>' }">
      <div class="flex -mx-px">
        <% @reviews.each do |r| %>
        <button
          x-on:click="tab = '<%= r.id %>'"
          x-bind:class="{ 'bg-gray-200': tab === '<%= r.id %>' }"
          class="bg-transparent hover:bg-gray-200 text-gray-700 font-semibold rounded-t focus:outline-none mx-px py-2 px-4"
          type="button"
        >
          <%= r.try(:person).try(:name) || r.try(:user).try(:nickname) %>
        </button>
        <% end %>
      </div>
      <ul class="bg-gray-50 p-4 border border-gray-200 rounded-b">
        <% @reviews.each do |r| %>
        <li x-show="tab === '<%= r.id %>'">
          <%= r.notes %>
        </li>
        <% end %>
      </ul>
    </div>

    <div class="block md:hidden">
      <% @reviews.each do |r| %>
        <div class="mb-4 bg-gray-50 p-4 border border-gray-200">
          <%= r.try(:person).try(:name) || r.try(:user).try(:nickname) %> says:
          <p class="pl-8 py-4 text-gray-600"><%= r.notes %></p>
        </div>
      <% end %>
    </div>
  </div>

  <!-- card footer -->
  <footer class="flex flex-wrap md:w-full justify-between bg-gray-100 space-x-2">
    <span class="p-2">Added <% if @item.user %>by <%= @item.user.nickname %><% end %> on <%= @item.created_at.to_date %></span>
    <button class="p-2 bg-gray-300 hover:bg-gray-400">Share</button>
    <button class="p-2 bg-gray-300 hover:bg-gray-400">Actions</button>
  </footer>
</main>



