<p id="notice"><%= notice %></p>

<h1>User Topics</h1>

<table>
  <thead>
    <tr>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @user_topics.each do |user_topic| %>
      <tr>
        <td><%= link_to 'Show', user_topic %></td>
        <td><%= link_to 'Edit', edit_user_topic_path(user_topic) %></td>
        <td><%= link_to 'Destroy', user_topic, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New User Topic', new_user_topic_path %>
