<% 
    groups = Topic.get_hierarchy(root_topic)
%>


<div class="mt-6" style="columns: 6 240px; column-gap: 1rem;">
<% groups.each do |parent, children| %>
    <!-- background-image: url('https://picsum.photos/seed/<%= parent.name %>/300/500?blur=1');  -->
  <div tabindex="0" class="inline-block w-full mt-4 bg-white rounded-lg mt-4 px-4 py-4 shadow-lg focus:outline-none">

                        <% if parent.persisted? %>
                            <%= link_to parent.display_name, topic_path(parent), class: "mt-1 p-1 text-gray-900 font-semibold text-lg hover:text-blue-500" %></h2>
                        <% else %>
                            <h4 class="mt-1 p-1 text-gray-900 font-semibold text-lg"><%= parent.display_name %></h4>
                        <% end %>

                        <div class="mt-2 flex flex-wrap text-sm text-gray-900">
                        <% children.take(show_max).sort_by(&:name).each do |child| %>
                            <%= link_to child.display_name_without_ancestors, topic_path(child), class: "hover:text-blue-500 px-2" %>
                        <% end %>
                        </div>
                        <% if children.size > show_max %>
                        <p class="mt-2 text-sm text-right"><span>and <%= children.size - show_max %> more.</span></p>
                        <% end %>
  </div>
<% end %>
</div>