<% 
    groups = Topic.get_hierarchy(root_topic)
%>
<div class="row">
<% groups.each do |parent, children| %>
    <div class="col-md mb-4">
        <div class="card">
            <header class="card-header">
                <h2 class="h3 card-header-title">
                <img class="u-avatar rounded-circle mr-3" src="<%= parent.image_url %>" alt="<%= parent.display_name %>">
                    <% if parent.persisted? %>
                        <%= link_to parent.display_name, explore_topic_path(parent) %>
                    <% else %>
                        <%= parent.display_name %>
                    <% end %>
                </h2>
            </header>

            <div class="card-body">
                <% children.take(show_max).each do |child| %>
                    <%= link_to child.display_name_without_ancestors, topic_path(child), class: "mr-3" %>
                <% end %>
            </div>
        </div>
    </div>
<% end %>
</div>