<div class="card full_width mb-2">
	<div class="card-body">
		<div class="row">
			<div class="col-md-9">
				<div class="row mb-4">
					<h2 class="h3 card-header-title"><img src="<%= item.item_type.icon %>" width=24 height=24 /> &nbsp;
						<b>
							<%= link_to item do %>
							<%= item.display_name %>
							<% if item.primary_link %>
							<small class="domain_text">
								(<%= item.primary_link.top_domain %>)
							</small>
							<% end %>
							<%end%>
						</b>

					</h2>
				</div>
				<div class="row mb-2">
					<%= link_to item.item_type.display_name_plural, item.item_type, class: "#{ItemType.button_style}" %>
				</div>
				<% topics = item.topics - [@topic] %>
				<% if topics.present? %>
					<div class="row">
						<span class="text-muted">Related to : 	</span>
						<% topics.each do |item_topic| %>
							<%= link_to item_topic.name, item_topic, class: "btn btn-outline-primary btn-sm btn-list mb-2" %>
						<% end %>
					</div>
				<%end%>
			</div>
			<div class="col-md-3">
				<%= render partial: 'components/rating', locals: {score: item.average_overall_score.to_i }%>
				&nbsp;<small class="text-muted"><%=item.reviews.count%> Reviews</small>
			</div>
		</div>
	</div>
</div>