<% if item.item_type_id == 'book' %>
<a href="<%= item_path(item) %>" class="block flex min-w-sm max-w-md bg-white shadow-lg rounded-lg overflow-hidden mt-10 sm:ml-6 transition duration-200 transform hover:scale-105">
    <div class="w-1/3 bg-cover" style="background-image: url(&quot;<%= item.thumbnail %>&quot;);"></div>
    <div class="w-2/3 p-4 md:p-4">
        <span class="inline-block px-2 py-1 leading-none bg-teal-200 text-teal-800 rounded-full font-semibold uppercase tracking-wide text-xs">
                    <%= item.item_type.display_name_plural %>
                </span>
        <h1 class="text-gray-900 font-semibold text-lg"><%= item.display_name %></h1>
        <p class="mt-2 text-gray-600 text-sm"><%= item.primary_link.top_domain %></p>
        <!-- <div class="flex item-center mt-2 text-sm text-gray-600">
                <%= render partial: 'components/rating', locals: {score: item.average_overall_score.to_i }%>
                <span class="ml-2"><%=item.reviews.count%> reviews</span>
        </div> -->
    </div>
</a>

<% elsif item.item_type_id == 'video'%>
<a href="<%= item_path(item) %>" class="block max-w-xs bg-white shadow-lg rounded-lg overflow-hidden mr-4 mb-4 transition duration-200 transform hover:scale-105">
    <img src="<%= item.thumbnail %>" alt="videocover" class="w-full h-56 object-cover">
    <div class="py-5 text-center">
        <p href="#" class="block text-lg text-gray-800 font-semibold"><%= item.display_name %></p>
        <span class="text-sm text-gray-700"><%= item.primary_link.top_domain %></span>
    </div>
</a>

<% else %>
<div class="sm:mt-0 sm:w-80 sm:flex-shrink-0 mt-10 sm:ml-4">
<div>
    <!-- <div class="relative pb-5/6"><img src="https://images.unsplash.com/photo-1513584684374-8bab748fbf90?ixlib=rb-1.2.1&amp;auto=format&amp;fit=crop&amp;w=800&amp;q=80" alt="" class="absolute inset-0 h-full w-full rounded-lg shadow-md object-cover"></div> -->
    <div class="relative px-4 mb-4">
        <div class="bg-white rounded-lg px-4 py-4 shadow-lg">
            <div class="flex items-baseline">
                <span class="inline-block px-2 py-1 leading-none bg-teal-200 text-teal-800 rounded-full font-semibold uppercase tracking-wide text-xs">
                    <%= item.item_type.display_name_plural %>
                </span>
                <!-- <div class="ml-2 text-xs text-gray-600 font-semibold uppercase tracking-wide">
                    4 beds • 1 bath
                </div> -->
            </div>
            <h4 class="mt-1 text-gray-900 font-semibold text-lg"><%= link_to item.display_name, item %></h4>
            <% if item.primary_link %>
                <div class="mt-1"><span class="ml-1 text-sm text-gray-600"><%= item.primary_link.top_domain %></span></div>
            <% end %>
            <div class="mt-2 flex items-center text-sm text-gray-600">
                <%= render partial: 'components/rating', locals: {score: item.average_overall_score.to_i }%>
                <span class="ml-2"><%=item.reviews.count%> reviews</span>
            </div>
        </div>
    </div>
</div>
</div>
<% end %>