<% followers = topic.followers %>

<%= render partial: 'topic_header', locals: {topic: topic} %>

<% if topic.display_description.present? %>
<div class="card"><%= simple_format(topic.display_description) %></div>
<% end %>

<% if topic.available_levels.size > 1 %>
<div class="mt-8">
  <div class="sm:hidden">

  </div>
  <div class="hidden sm:block">
    <div class="border-b border-gray-200">
	  <nav class="-mb-px flex">
	  	<% [nil, *topic.available_levels].uniq.each do |level| %>

		<% if @level == level %>
		<a href="#" class="w-1/4 py-4 px-1 text-center border-b-2 border-indigo-500 font-medium text-sm leading-5 text-indigo-600 focus:outline-none focus:text-indigo-800 focus:border-indigo-700" aria-current="page">
		<% else %>
		<a href="<%= topic_path(level: level) %>" class="w-1/4 py-4 px-1 text-center border-b-2 border-transparent font-medium text-sm leading-5 text-gray-500 hover:text-gray-700 hover:border-gray-300 focus:outline-none focus:text-gray-700 focus:border-gray-300">
		<% end %>
          <%= level.try(:capitalize) || "All" %>
		</a>

		<% end %>
      </nav>
    </div>
  </div>
</div>
<% end %>

<% @item_type_items.group_by(&:item_type_id).sort_by { |itid,items| [ itid == 'learning_plan' ? 0 : 1, itid ] }.to_h.each do |itid, items| %>
<div class="mt-6">
<div class="px-4 xl:px-8">
    <h3 class="text-gray-900 text-xl"><%= link_to ItemType.find(itid).display_name_plural, topic_path(topic, item_type: itid), class: "text-blue-500 underline hover:text-blue-700" %></h3>
    <!-- <p class="text-gray-600">Live like the stars in these luxurious Southern California estates.</p> -->
</div>
<div class="sm:overflow-x-auto sm:overflow-y-hidden">
	<div class="px-4 sm:inline-flex sm:pt-2 sm:pb-8 xl:px-8 flex-wrap">
	<% items.each do |item| %>
		<%= render partial: 'item', locals: {item: item} %>
	<% end %>
	</div>
</div>
<% end %>

<% if topic.all_children.any? %>
<div class="mt-4 mb-8">
  <h1 class="font-semibold text-2xl">Sub-topics</h1>
  <%= render partial: 'hierarchy', locals: {root_topic: topic, show_max: 50} %>
</div>
<% end %>