<h2>
	<%= link_to topic.name.capitalize, topic_path(topic) %>
	<% if current_user %>
	<%= link_to (@topic_action ? "Unfollow" : "Follow"), toggle_follow_topic_path(topic), method: :post, class: "btn btn-sm btn-pill " + (@topic_action ? "btn-danger" : "btn-success") %>
	<% end %>
	<%= link_to "Gitter Chat", ("https://gitter.im/learn-awesome/" + topic.chat_room), class: "btn btn-sm btn-pill btn-warning", target: :_blank %>

</h2>

<% @item_type_items.map(&:first).each_slice(2).to_a.each do |pair| %>
      <div class="row">
        <!-- Cards with Tabs -->
        <% pair.each do |it| %>
	        <div class="col-md-6 mb-4">
	          <div class="card">
	            <div class="card-header d-md-flex align-items-center">
	              <h2 class="h3 card-header-title"><%= link_to it.display_name_plural, it, class: "btn #{ItemType.button_style}" %></h2>

	            </div>

	            <div class="card-body">
            		<% @item_type_items[it].each do |item| %>
            		<div class="mb-2">
            			<%= link_to item.name.capitalize, item %>
        			</div>
            		<% end %>
	            </div>

	          </div>
	        </div>
        <% end %>
      </div>
<% end %>


<script>
  ((window.gitter = {}).chat = {}).options = {
    room: 'learn-awesome/community'
  };
</script>
<script src="https://sidecar.gitter.im/dist/sidecar.v1.js" async defer></script>