<% followers = topic.followers %>
<div class="row">
	<h1>
		<b><%= topic.display_name.titleize %></b>
	</h1>
</div>

<div class="row">
	<h1 class="col-md-8 mb-4">
	<% if current_user %>
	<%= link_to toggle_follow_topic_path(topic), method: :post, class: "btn btn-sm btn-pill " + (@does_follow ? "btn-danger" : "btn-success") do %>
		<%= (@does_follow ? "Unfollow" : "Follow")%>
	<% end %>
	<% end %>

	<%= link_to "Add New Item", new_item_path(topic: topic.id), class: "btn btn-sm btn-pill btn-warning" %>

 	<% if current_user and current_user.score > 2000 %>
    	<%= link_to "Add New Learning Plan", new_syllabus_items_path(topic: topic.id), class: "btn btn-sm btn-pill btn-warning" %>
  	<% end %>

  	<% if current_user and current_user.can_merge_topic? %>
    	<%= link_to "Merge", merge_topic_path(topic), class: "btn btn-sm btn-pill btn-warning" %>
  	<% end %>

  	<a href="https://www.facebook.com/sharer/sharer.php?u=https%3A%2F%2Flearnawesome.org%2Ftopics%2F<%= topic.id %>&src=sdkpreparse" target="_blank"><i class="fab fa-facebook"></i></a>

  	<a href="https://twitter.com/intent/tweet?url=https%3A%2F%2Flearnawesome.org%2Ftopics%2F<%= topic.id %>" target="_blank"><i class="fab fa-twitter"></i></a>
		
	</h1>
</div>

<div class="mb-4">
	<% if followers.present? %>
		<%= number_to_human(followers.count) %> followers: <%= followers[0..4].map do |c| link_to c.nickname, user_path(c) end.join(", ").html_safe %> <%= " and #{followers.count - 5 } others" if followers.count > 5 %>
	<% end %>
</div>

<div class="row">
		<div class="col-md-9 mb-4">
		<%if @item_type_items.present? %>
			<% @item_type_items.each do |item| %>
				<%= render partial: 'item', locals: {item: item} %>
			<% end %>
			
			<% if @item_type_items.total_pages > 1 %>
				<div class="paginations">
	      	<%= will_paginate @item_type_items,:params => { item_type: @item_type, length: @length, quality: @quality }, :container => false %>
	  		</div>
  		<%end%>

			<%else%>
				<div class="alert alert-soft-danger fade show" role="alert">
								<i class="fa fa-minus-circle alert-icon mr-3"></i>
								<span>No Items</span>
								<button type="button" class="close" aria-label="Close" data-dismiss="alert">
								</button>
							</div>
		<% end %>

	</div>
	<div class="col-md-3 mb-4">
		<div class="card">
			<header class="card-header">
				<h2 class="h3 card-header-title mb-2">Showing <b><%= @item_type_items.count %></b> Items </h2>
				<small><b>Quick searches</b> :
  				<%= link_to "Learning Plans", topic_path(topic, item_type: "learning_plan") %> |
  				<%= link_to "Videos", topic_path(topic, item_type: "video") %> |
  				<%= link_to "Learn By Doing", topic_path(topic, quality: "interactive") %> |
  				<%= link_to "Books", topic_path(topic, item_type: "book") %> |
  				<%= link_to "Challenging", topic_path(topic, quality: "challenging") %> |
  				<%= link_to "Visual", topic_path(topic, quality: "visual") %> |
  				<%= link_to "All", topic_path(topic) %>		
  			</small>
			</header>

		</div>
		<%= form_tag({:action => 'show', :id => @topic.id },:id => 'filter_form',method: :get,:remote => true) do %>
		<%= hidden_field_tag :authenticity_token, form_authenticity_token %>
		<div class="accordion" id="accordion_filters">
			<div class="card">
				<div class="card-header" id="headingOne">
					<h2 class="mb-0">
						<button class="btn btn-link collapsed btn-full" type="button" data-toggle="collapse" data-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
							Type <small class="fa fa-angle-down text-muted ml-1"></small>
						</button>
					</h2>
				</div>

				<div id="collapseOne" class="collapse" aria-labelledby="headingOne" data-parent="#accordion_filters">
					<div class="card-body">
						<% ItemType.all.each do |item_type| %>
						<div class="custom-control custom-checkbox mb-2">	
							<input name="item_type[]" value=<%= item_type.id %> id=<%= item_type.id %> class="custom-control-input" type="checkbox" <%- if (@item_type.present? && @item_type.include?(item_type.id)) %>checked <%-end%> onclick="this.form.submit();">
							<label class="custom-control-label" for=<%= item_type.id %>><%= item_type.display_name_plural %></label>
						</div>
						<% end %>
					</div>
				</div>
			</div>
			<div class="card">
				<div class="card-header" id="headingTwo">
					<h2 class="mb-0">
						<button class="btn btn-link collapsed btn-full" type="button" data-toggle="collapse" data-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
							Length <small class="fa fa-angle-down text-muted ml-1"></small>
						</button>
					</h2>
				</div>
				<div id="collapseTwo" class="collapse" aria-labelledby="headingTwo" data-parent="#accordion_filters">
					<div class="card-body">
						<% ItemType::LENGTH.each do |length| %>
						<div class="custom-control custom-radio mb-2">
							<input value="<%= length.last %>" id="<%= length.last %>" class="custom-control-input" type="radio" <%- if (@length.to_s == length.last) %>checked <%-end%> name="length" onclick="this.form.submit();">
							<label class="custom-control-label" for=<%= length.last %>><%= length.first %></label>
						</div>
						<% end %>
					</div>
				</div>
			</div>
			<div class="card">
				<div class="card-header" id="headingThree">
					<h2 class="mb-0">
						<button class="btn btn-link collapsed btn-full" type="button" data-toggle="collapse" data-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
							Quality <small class="fa fa-angle-down text-muted ml-1"></small>
						</button>
					</h2>
				</div>
				<div id="collapseThree" class="collapse" aria-labelledby="headingThree" data-parent="#accordion_filters">
					<div class="card-body">
						<% ItemType::QUALITY.each do |quality| %>
						<div class="custom-control custom-radio mb-2">
							<input value="<%= quality.last %>" id="<%= quality.last %>" class="custom-control-input" type="radio" <%- if (@quality.to_s == quality.last) %>checked <%-end%> name="quality", onclick="this.form.submit();">
							<label class="custom-control-label" for=<%= quality.last %>><%= quality.first %></label>
						</div>
						<% end %>
					</div>
				</div>
			</div>
		</div>
		<% end %>
	</div>
</div>