<% content_for :title do %>
	<%= resource.og_title %>
<% end %>

<% content_for :opengraph do %>
  <link rel="canonical" href="<%= resource_url(resource) %>" />
  <meta name="keywords" content="<%= resource.og_keywords %>">
  <meta name="description" content="<%= resource.og_description %>">
  <meta property="og:title" content="<%= resource.og_title %>">
  <meta property="og:description" content="<%= resource.og_description %>">
  <meta property="og:image" content="<%= resource.og_image %>">
  <meta property="og:url" content="<%= resource_url(resource) %>">
  <meta name="twitter:card" content="summary_large_image">
<% end %>

<div>
  <div>
    <nav class="sm:hidden">
      <a href="#" class="flex items-center text-sm leading-5 font-medium text-gray-500 hover:text-gray-700 transition duration-150 ease-in-out">
        <svg class="flex-shrink-0 -ml-1 mr-1 h-5 w-5 text-gray-400" viewBox="0 0 20 20" fill="currentColor">
          <path fill-rule="evenodd" d="M12.707 5.293a1 1 0 010 1.414L9.414 10l3.293 3.293a1 1 0 01-1.414 1.414l-4-4a1 1 0 010-1.414l4-4a1 1 0 011.414 0z" clip-rule="evenodd"/>
        </svg>
        Back
      </a>
    </nav>
    <nav class="hidden sm:flex items-center text-sm leading-5 font-medium">
	  <%= link_to parent.nickname, parent, class: "text-gray-500 hover:text-gray-700 transition duration-150 ease-in-out" %>
      <svg class="flex-shrink-0 mx-2 h-5 w-5 text-gray-400" viewBox="0 0 20 20" fill="currentColor">
        <path fill-rule="evenodd" d="M7.293 14.707a1 1 0 010-1.414L10.586 10 7.293 6.707a1 1 0 011.414-1.414l4 4a1 1 0 010 1.414l-4 4a1 1 0 01-1.414 0z" clip-rule="evenodd"/>
      </svg>
      <%= link_to "groups", user_groups_url, class: "text-gray-500 hover:text-gray-700 transition duration-150 ease-in-out" %>
    </nav>
  </div>
  <div class="mt-2 md:flex md:items-center md:justify-between">
    <div class="flex-1 min-w-0">
      <h2 class="text-2xl font-bold leading-7 text-gray-900 sm:text-3xl sm:leading-9 sm:truncate">
        <%= resource.name %>
      </h2>
	  <p><%= resource.description %></p>
    <% if @group.is_admin?(current_user) %><p>Invite link: <input class="bg-gray-200 p-2" type="text" size="40" value="<%= accept_invite_user_group_url(current_user, @group, invite_code: @group.invite_code) %>"/></p><% end %>
    </div>
    <div class="mt-4 flex-shrink-0 flex md:mt-0 md:ml-4">
  
    <% if @group.is_invited?(current_user) %>
      <span class="hidden sm:block ml-3 shadow-sm rounded-md">
        <%= link_to('Accept Invite', accept_invite_user_group_path(current_user, @group), method: :post, class: "inline-flex items-center px-4 py-2 border border-transparent text-sm leading-5 font-medium rounded-md text-white bg-indigo-600 hover:bg-indigo-500 focus:outline-none focus:shadow-outline-indigo focus:border-indigo-700 active:bg-indigo-700 transition duration-150 ease-in-out") %>
      </span>
    <% end %>
  <% if @group.is_admin?(current_user) %>
  
      <span class="hidden sm:block ml-3 shadow-sm rounded-md">
        <%= link_to('Add Member', add_member_user_group_path(current_user, @group), method: :get, class: "inline-flex items-center px-4 py-2 border border-gray-300 text-sm leading-5 font-medium rounded-md text-gray-700 bg-white hover:text-gray-500 focus:outline-none focus:shadow-outline-blue focus:border-blue-300 active:text-gray-800 active:bg-gray-50 transition duration-150 ease-in-out") %>
      </span>
  
      <span class="ml-3 shadow-sm rounded-md">
        <%= link_to 'Edit', edit_user_group_path(current_user, @group), class: "inline-flex items-center px-4 py-2 border border-transparent text-sm leading-5 font-medium rounded-md text-white bg-indigo-600 hover:bg-indigo-500 focus:outline-none focus:shadow-outline-indigo focus:border-indigo-700 active:bg-indigo-700 transition duration-150 ease-in-out" %>
      </span>
	  <% end %>
    </div>
  </div>
</div>


<!-- show group activity -->
<% @group_reviews = Review.includes(user: {}, item: {idea_set: [people: {},topics:{},recommendations: {}], reviews: {}, links: {}}).where(user: @group.users).order("created_at DESC").limit(20) %>

<div class="my-4 max-w-3xl mx-auto grid grid-cols-1 gap-6 sm:px-6 lg:max-w-full lg:grid-flow-col-dense lg:grid-cols-3">
	<section class="space-y-6 lg:col-start-1 lg:col-span-2" aria-labelledby="applicant-information-title">
	  <% @group_reviews.each do |rev| %>
		<%= render ActivityPanelComponent.new(review: rev, viewer: current_user) %>
	  <% end %>
	</section>

	<section aria-labelledby="timeline-title" class="lg:col-start-3 lg:col-span-1">
    <div class="">
      <!-- list group members -->
      <h1 class="text-2xl font-bold">Members of this group</h1>
      <div class="flex flex-wrap">
      <% resource.group_members.each do |gm| %>
          <a href="<%= user_path(gm.user) %>" class="inline-block max-w-xs my-2 mr-2 bg-white shadow-md rounded-md overflow-hidden">
                <div class="bg-white rounded overflow-hidden shadow-lg">
                  <div class="text-center p-2 border-b">
                    <img
                      class="h-8 w-8 rounded-full mx-auto"
                      src="<%= gm.user.avatar_image %>"
                      alt="<%= gm.user.nickname %>"
                      loading=lazy
                    />
                    <p class="pt-2 text-md font-semibold"><%= gm.user.nickname %></p>
                  </div>
                </div>
          </a>
      <% end %>
      </div>
		</div>
	</section>
</div>
