<div class="row">
  <div class="col-md-6 mb-4">
    <div class="card">

      <header class="card-header">
        <h2 class="h3 card-header-title">Edit Profile</h2>
      </header>

      <div class="card-body">

        <%= form_for @user do |form| %>
            <div class="form-group mb-4">
              <%= form.label :nickname %>
              <%= form.text_field :nickname, required: true, class: "form-control form-pill" %>
            </div>

            <div class="form-group mb-4">
              <%= form.label :bio %>
              <%= form.text_field :bio, required: true, class: "form-control form-pill" %>
            </div>

            <div class="form-group mb-4">
              <%= form.label :description %>
              <%= form.text_area :description, class: "form-control" %>
            </div>

            <div class="form-group mb-4">
              <%= form.label :tiddlywiki_url do %>
                    <a href='/digitalgardensetup' target='_blank' class='text-blue-400 underline'><u>Digital Garden</u></a>
                <% end %>
              <%= form.url_field :tiddlywiki_url, class: "form-control" %>
            </div>

          <div class="form-group mb-4">
            <%= form.submit "Save", class: "btn btn-primary" %>
          </div>
        <% end %>

      </div>

    </div>
  </div>
</div>
