<div class="row">
  <div class="col-md-6 mb-4">
    <div class="card">

      <header class="card-header">
        <h2 class="h3 card-header-title">Change Settings</h2>
      </header>

      <div class="card-body">

        <%= form_for @user, url: settings_user_path(@user) do |form| %>
          <h4><b>Email Notifications</b></h4>
            <div class="form-group mb-4">
              <%= form.label :unsubscribe, "Unsubscribe from all emails" %>
              <%= form.check_box :unsubscribe %>
            </div>

        	<h4><b>Options for Random Item Search</b></h4>
            <div class="form-group mb-4">
              <%= form.label :random_fav_topic, "Search only in your favorite topics?" %>
              <%= form.check_box :random_fav_topic %>
            </div>

            <div class="form-group mb-4">
              <%= form.label :random_fav_item_types, "Search only selected formats" %>
              <%= form.collection_select :random_fav_item_types, ItemType.all, :id, :display_name_plural, {selected: @user.random_fav_item_types.to_s.split(",")}, {multiple: true, class: "form-control"} %>
            </div>

            <% if @user.is_from_twitter? %>
            <div class="form-group mb-4">
              <%= form.label :post_reviews_to_twitter, "Post reviews to your Twitter?" %>
              <%= form.check_box :post_reviews_to_twitter %>
            </div>
            <% end %>


    			<div class="form-group mb-4">
    			  <%= form.submit "Save Settings", class: "btn btn-primary" %>
    			</div>
        <% end %>

      </div>

    </div>
  </div>
</div>