<div class="bg-white rounded-lg shadow-lg mb-4 mr-4 p-2 max-w-2xl">
	<h1 class="text-gray-800 text-xl font-semibold mb-2">Change Settings</h1>

        <%= form_for @user, url: settings_user_path(@user) do |form| %>

          <h4><b>Email Notifications</b></h4>
            <div class="form-group mb-4">
              <%= form.label :unsubscribe, "Unsubscribe from all emails" %>
              <%= form.check_box :unsubscribe %>
            </div>

        	<h4><b>Options for Random Item Search</b></h4>
            <div class="form-group mb-4">
              <%= form.label :random_fav_topic, "Search only in your favorite topics?" %>
              <%= form.check_box :random_fav_topic %>
            </div>

            <div class="form-group mb-4">
              <%= form.label :random_fav_item_types, "Search only selected formats" %>
              <%= form.collection_select :random_fav_item_types, ItemType.all, :id, :display_name_plural, {selected: @user.random_fav_item_types.to_s.split(",")}, {multiple: true, class: "form-control"} %>
            </div>

    			<div class="form-group mb-4">
    			  <%= form.submit "Save Settings", class: "btn btn-primary" %>
    			</div>
        <% end %>
</div>

<div class="bg-white rounded-lg shadow-lg mb-4 mr-4 p-2 max-w-2xl">
	<h1 class="text-gray-800 text-xl font-semibold mb-2">Connect Social Media Accounts</h1>
          <ul>
          <% @user.social_logins.each do |sl| %>
            <li style="display:flex"><%= sl.auth0_uid %>: Auto-posting: <%= sl.post_reviews ? 'Enabled' : 'Disabled' %> &nbsp; &nbsp; <%= button_to (sl.post_reviews ? 'Disable' : 'Enable'), toggle_reviewposting_user_path(sl.user, {social_login_id: sl.id}), form_class: "form-inline", class: "btn btn-sm btn-primary mb-2" %></li>
          <% end %>
          </ul>
          <p><%= @user.social_logins.count %> accounts connected.</p>
          <%= link_to 'Connect Another', '/auth/auth0?prompt=login', class: "btn btn-success" %>
</div>