<div class="row">
  <div class="col-md-6 mb-4">
    <div class="card mb-4">

      <header class="card-header">
        <h2 class="h3 card-header-title">Change Settings</h2>
      </header>

      <div class="card-body">

        <%= form_for @user, url: settings_user_path(@user) do |form| %>
          <h4><b>Email Notifications</b></h4>
            <div class="form-group mb-4">
              <%= form.label :unsubscribe, "Unsubscribe from all emails" %>
              <%= form.check_box :unsubscribe %>
            </div>

        	<h4><b>Options for Random Item Search</b></h4>
            <div class="form-group mb-4">
              <%= form.label :random_fav_topic, "Search only in your favorite topics?" %>
              <%= form.check_box :random_fav_topic %>
            </div>

            <div class="form-group mb-4">
              <%= form.label :random_fav_item_types, "Search only selected formats" %>
              <%= form.collection_select :random_fav_item_types, ItemType.all, :id, :display_name_plural, {selected: @user.random_fav_item_types.to_s.split(",")}, {multiple: true, class: "form-control"} %>
            </div>

    			<div class="form-group mb-4">
    			  <%= form.submit "Save Settings", class: "btn btn-primary" %>
    			</div>
        <% end %>

      </div>

    </div>

    <div class="card">

      <header class="card-header">
        <h2 class="h3 card-header-title">Connect Social Media Accounts</h2>
      </header>

      <div class="card-body">
          <ul>
          <% @user.social_logins.each do |sl| %>
            <li><%= sl.auth0_uid %>: Auto-posting: <%= sl.post_reviews ? 'Enabled' : 'Disabled' %></li>
          <% end %>
          </ul>
          <%= @user.social_logins.count %> connected. <%= link_to 'Connect Another', '/auth/auth0' %>
      </div>
    </div>
  </div>
</div>