<div class="flex">
<div class="bg-white rounded-lg shadow-lg mb-4 mr-4 p-2 w-1/4">
	<h1 class="text-gray-800 text-xl font-semibold mb-2">Profile</h1>
	<div class="text-center">
		<img class="w-16 h-16 rounded-full mx-auto" src="<%= @user.avatar_image %>" alt="photo" width="84">

		<h2 class="mb-2"><%= @user.nickname %></h2>
		<% if @user.email.present? and (@user.id == current_user.try(&:id) || current_user.try(&:is_core_dev?)) %>
			<h5 class="text-gray-900 text-sm"><%= @user.email %></h5>
		<% end %>
		<h5 class="text-muted mb-4"><%= @user.bio %></h5>

		<% unless @user.description.blank? %>
			<h1 class="text-gray-800 text-xl font-semibold mb-2">About</h1>
			<p class="mb-5"><%= @user.description %></p>
		<% end %>

		<div class="mb-3">
		<% if current_user %>
			<% if @user.id == current_user.id %>
				<a class="px-4 py-2 mt-2 text-sm font-semibold bg-blue-500 text-white rounded-lg dark-mode:bg-transparent dark-mode:hover:bg-gray-600 dark-mode:focus:bg-gray-600 dark-mode:focus:text-white dark-mode:hover:text-white dark-mode:text-gray-200 md:mt-0 md:ml-4 hover:text-gray-900 focus:text-gray-900 hover:bg-gray-200 focus:bg-gray-200 focus:outline-none focus:shadow-outline" href="/users/<%= @user.id %>/edit">Edit Profile</a>
			<% else %>
				<form method='post' action='/users/<%= @user.id %>/toggle_follow'>
				<input type="hidden" value="" name="authenticity_token"/>
				<input type='submit' class="px-4 py-2 mt-2 text-sm font-semibold <%= (@does_follow ? "bg-red-500" : "bg-blue-500") %> text-white cursor-pointer rounded-lg dark-mode:bg-transparent dark-mode:hover:bg-gray-600 dark-mode:focus:bg-gray-600 dark-mode:focus:text-white dark-mode:hover:text-white dark-mode:text-gray-200 md:mt-0 md:ml-4 hover:text-gray-900 focus:text-gray-900 hover:bg-gray-200 focus:bg-gray-200 focus:outline-none focus:shadow-outline" value="<%= (@does_follow ? "Unfollow" : "Follow") %>"/>
				</form>
			<% end %>
		<% end %>
		</div>

		<h4 class="h3">Profile Rating</h4>
		<div class="text-4xl font-semibold text-black mb-2"><%= @user.score %></div>

		<p class="text-muted mb-0"><%= @user.submissions.count %> Submissions</p>
		<p class="text-muted mb-0"><%= @user.reviews.completed.count %> Reviews</p>
		<p class="text-muted mb-0"><%= @user.invited.count %> Referred users</p>
		<p class="text-muted mb-0"><%= @user.followers.count %> Followers</p>
		<p class="text-muted mb-0"><%= @user.following.count %> Following</p>
		<p class="text-muted mb-0"><%= link_to @user.collections.count.to_s + " Collections", user_collections_path(@user), class: "underline text-blue-400" %></p>

		<% if @user.tiddlywiki_url.present? %>
		<p class="text-muted mb-0">
			<a href="<%= @user.tiddlywiki_url %>" target="_blank" class="underline text-blue-400">Digital Garden</a>
		</p>
		<% end %>

		<br/><br/>
			<% if current_user == @user %>
				<%= link_to onboarding_user_path(@user) do %>
					<p class="underline text-blue-400">Power user score: <%= @user.onboarding_percentage %> / 100</p>
					<div class="progress mb-3">
						<div class="progress-bar bg-success" role="progressbar" style="width: <%= @user.onboarding_percentage %>%;" aria-valuenow="<%= @user.onboarding_percentage %>" aria-valuemin="0" aria-valuemax="100"></div>
					</div>
				<% end %>
			<% else %>
				<p class="text-muted mb-0">Power user score: <%= @user.onboarding_percentage %> / 100</p>
				<div class="progress mb-3">
					<div class="progress-bar bg-success" role="progressbar" style="width: <%= @user.onboarding_percentage %>%;" aria-valuenow="<%= @user.onboarding_percentage %>" aria-valuemin="0" aria-valuemax="100"></div>
				</div>
			<% end %>



	</div>

	<div class="px-6">
	<%= @user.nickname %> joined <%= time_ago_in_words(@user.created_at) %> ago. You can follow <%= @user.nickname %>'s activity on Mastodon or ActivityPub by <a class="underline text-blue-400" href="mailto:<%= @user.activitypub_username %>">following him/her</a>.
	</div>
</div>

<div class="flex-1 flex flex-col">
<div class="bg-white rounded-lg shadow-lg mb-4 mr-4 p-2">

	<h1 class="text-gray-800 text-xl font-semibold mb-2">Topics</h1>

						<div class="d-flex flex-wrap align-items-center">
							<% @user.fav_topics.each do |topic| %>
								<%= link_to topic.name, topic, class: "btn btn-sm #{Topic.button_style} mr-1" %>
							<% end %>
						</div>

				<div class="row">
					<div class="col-lg-12">
						<% if @user.followers.any? %>
							<p>Followers: <% @user.followers.each do |f| %><%= link_to f.nickname, user_path(f) %>, <% end %></p>
						<% end %>
						<% if @user.following.any? %>
							<p>Following: <% @user.following.each do |f| %><%= link_to f.nickname, user_path(f) %>, <% end %></p>
						<% end %>
					</div>
				</div>

</div>

<div class="bg-white rounded-lg shadow-lg mb-4 mr-4 p-2">
<h1 class="text-gray-800 text-xl font-semibold mb-2">Reviews</h1>
	<div class="tab-pane fade show active" id="panelWithTabsTab1" role="tabpanel">
	  <% @user.reviews.completed.limit(20).each do |rev| %>
	   <%= render rev.item %>
	  <% end %>
	</div>
</h1>
</div>

<div class="bg-white rounded-lg shadow-lg mb-4 mr-4 p-2">
<h1 class="text-gray-800 text-xl font-semibold mb-2">Have learned from</h1>
	  <% @user.reviews.where(status: 'learned').each do |rev| %>
	   <%= render rev.item %>
	   <% rev.item.topics.map do |topic| %>
			<%= link_to topic.name, topic, class: "btn btn-sm #{Topic.button_style}" %>
	   <% end %>
	  <% end %>
</div>

<div class="bg-white rounded-lg shadow-lg mb-4 mr-4 p-2">
<h1 class="text-gray-800 text-xl font-semibold mb-2">Wants to learn</h1>
	<div class="tab-pane fade" id="panelWithTabsTab3" role="tabpanel">
	  <% @user.reviews.where(status: 'want_to_learn').each do |rev| %>
	   <%= render rev.item %>
	  <% end %>
	</div>
</h1>
</div>

<div class="bg-white rounded-lg shadow-lg mb-4 mr-4 p-2">
<h1 class="text-gray-800 text-xl font-semibold mb-2">Currently learning</h1>
	<div class="tab-pane fade show active" id="panelWithTabsTab4" role="tabpanel">
	  <% @user.reviews.where(status: 'learning').each do |rev| %>
	   <%= render rev.item %>
	  <% end %>
	</div>
</div>

<% if current_user and (@user.id == current_user.id) %>
	<div class="bg-white rounded-lg shadow-lg mb-4 mr-4 p-2">
	<h1 class="text-gray-800 text-xl font-semibold mb-2">Embed Reviews</h1>
	<%= render partial: 'embed_links' %>
	</div>

	<div class="bg-white rounded-lg shadow-lg mb-4 mr-4 p-2">
	<h1 class="text-gray-800 text-xl font-semibold mb-2">Invite Friends</h1>
	<button type="button" class="btn btn-lg btn-primary btn-circle mb-1" onclick="copyToClipboard('<%= request.protocol + request.host_with_port + url_for("/auth/auth0?ref=" + current_user.id.split("-").first) %>')">
		<i class="fas fa-link"></i>
	</button>
	<div class="text-muted mb-3"><small>Click to copy referral link</small></div>
	<div class="text-muted mb-3">Or</div>
	<textarea id="review_notes" class="border-gray-200 border-2 bg-gray-300" readonly="true">Join Learn Awesome by clicking the link. <%= request.protocol + request.host_with_port + url_for("/auth/auth0?ref=" + current_user.id.split("-").first) %>. If link is not clickable, copy and paste to your favorite browser</textarea>
	</div>
<% end %>

</div>

</div>

