<div class="row">
	<div class="col-md-12 mb-4">
	  <div class="card mb-4">
	  	<div class="card-body">
	  			<script src="https://cdn.jsdelivr.net/npm/typed.js@2.0.9"></script>
	  			<div style="position: relative;">

	  				<h1 class="display-4 mu-4 mb-4" style="opacity: 0.0;">Show me <u>podcasts</u> about <u>machine learning</u> which are <u>30 to 60 minutes</u> long and are <u>challenging</u>.</h1>

	  				<h1 class="display-4 mu-4 mb-4" id="queryheadline" style="position: absolute; top: 0px;">Show me <u>podcasts</u> about <u>machine learning</u> which are <u>30 to 60 minutes</u> long and are <u>challenging</u>.</h1>
	  			</div><br/>

	  			<div class="text-center"><a id="querylink" href="<%= query_items_path(topic: 'machine-learning', item_type: 'audio', length: '30-60', quality: 'challenging', commit: 'Search') %>" class="btn btn-success btn-lg btn-pill">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Try it!&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</a></div>
	  			<br/><br/>

	  			<h1 class="display-5 mu-4"><%= Topic.count %> topics. <%= ItemType.count %> formats. <b><big><%= Item.count %></big></b> learning resources. <% if current_user.try(:can_see_metrics?) %><%= User.count %> users. <%= Review.count %> reviews.<% end %> All about YOU - the lifelong learner.</h1>

	  			<script type="text/javascript" defer>
	  				document.addEventListener('DOMContentLoaded', function(){
	  					setTimeout(animateHeadline, 2000);
	  				});
	  			</script>
	  	</div>
	  </div>

	  <div class="card">
	  	<div class="card-header">
	  		<h2 class="h1 card-header-title">We're building humanity's universal learning map.</h2>
	  	</div>
	  	<div class="card-body">
	  		<p class="lead">Today's learning platforms are not actually learner-centric. They want the students to be locked within their apps &amp; websites, learn ONLY from their own content and their own preferred formats. But the way we learn in 21st century is far too rich. <b>We learn from blogs, podcasts, videos, tweetstorms, livestreams, games, newsletters, infographics, Q&A sites, forums and much more.</b> Discovering the right kind of learning material for YOU at the right time is still too hard.</p>

	  		<p class="lead">In 2012, Danny Hillis had presented the vision of <a href="https://www.youtube.com/watch?v=wKcZ8ozCah0" target="_blank"><u>a global learning map</u></a>. However, it did not really materialize at that time. There have been similar calls for a <a href="https://www.usv.com/writing/2018/11/looking-for-syllabus-2-0/" target="_blank"><u>syllabus 2.0</u></a>. Some of us got together and decided to build it for ourselves. Everyone is welcome to join!</p>

	  		<p class="lead">We have a browser extension (<a href="https://chrome.google.com/webstore/detail/learnawesome/mfmicnedcecjcchodnaijomibiplacie" target="_blank"><u>Chrome / Brave</u></a>, <a href="https://addons.mozilla.org/en-US/firefox/addon/learnawesome/" target="_blank"><u>Firefox</u></a>), <a href="https://gitter.im/learn-awesome/community" target="_blank"><u>a group chat for learners</u></a>, an API and even embed widgets to display your own learning activity on your own website. This app itself is <a href="https://github.com/learn-awesome/learn" target="_blank"><u>open-source</u></a> and so are the <a href="https://gitter.im/learn-awesome/meta" target="_blank"><u>development discussions</u></a>. Dive in! :-)</p>

<div class="row">
	<div class="col-md-4">
	<blockquote class="twitter-tweet"><p lang="en" dir="ltr">A little heads up. <a href="https://twitter.com/Learn_Awesome?ref_src=twsrc%5Etfw">@Learn_Awesome</a> is a one-stop platform for gathering learning resources for a topic. <br>I wanted to brush up on MS-Excel &amp; spent 15mins on Google looking for courses while I could&#39;ve just searched over <a href="https://twitter.com/Learn_Awesome?ref_src=twsrc%5Etfw">@Learn_Awesome</a>.<br>Silly me! 😑</p>&mdash; Jarmos (@Jarmosan) <a href="https://twitter.com/Jarmosan/status/1183935452467720192?ref_src=twsrc%5Etfw">October 15, 2019</a></blockquote> <script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>
	</div>

	<div class="col-md-4">
	<blockquote class="twitter-tweet" data-conversation="none"><p lang="en" dir="ltr">Whoa! 😲 <a href="https://twitter.com/ProductHunt?ref_src=twsrc%5Etfw">@ProductHunt</a> featured <a href="https://t.co/f5DnvyDfcK">https://t.co/f5DnvyDfcK</a> on their homepage yesterday! Would you just look at this? 😎 <a href="https://t.co/wctJlOLycU">pic.twitter.com/wctJlOLycU</a></p>&mdash; Learn Awesome (@Learn_Awesome) <a href="https://twitter.com/Learn_Awesome/status/1153641404444233728?ref_src=twsrc%5Etfw">July 23, 2019</a></blockquote> <script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script> 
	</div>

	<div class="col-md-4">
	<blockquote class="twitter-tweet"><p lang="en" dir="ltr">This is an amazing video i came across last week and recommend everyone to watch.<br>Also i found it on <a href="https://twitter.com/Learn_Awesome?ref_src=twsrc%5Etfw">@Learn_Awesome</a> under economics. <a href="https://twitter.com/nileshtrivedi?ref_src=twsrc%5Etfw">@nileshtrivedi</a> <a href="https://t.co/U6rUtXF6GR">https://t.co/U6rUtXF6GR</a></p>&mdash; Priyank Agrawal (@priyankinfinnov) <a href="https://twitter.com/priyankinfinnov/status/1173273862953259008?ref_src=twsrc%5Etfw">September 15, 2019</a></blockquote> <script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script> 
	</div>
</div>

	  	</div>
	  </div>
	</div>
</div>
