<h1>DropDownComponent</h1>
<div class="ml-64"><%= render DropDownComponent.new(label: "dropdown", items: []) %></div>

<h1>SplitButtonComponent</h1>
<div class="ml-64"><%= render SplitButtonComponent.new(id_prefix: "sbc", name: "sbc", labels: [["Learned", "learned"], ["Currently learning","learning"], ["Want to learm", "want_to_learn"]], value: "want_to_learn") %></div>

<h1>ActivityPanelComponent</h1>
<%= render ActivityPanelComponent.new(user: current_user) %>

<h1>ItemPanelComponent</h1>
<%= render ItemPanelComponent.new(item: Item.discover) %>

<h1>TestComponent</h1>
<%= render TestComponent.new(title: "testing") %>

<h1>FiveStarComponent</h1>
<%= render FiveStarComponent.new(id_prefix: "fsc", name: "foo", value: "5") %>
