<!-- <p class="mt-8">TestComponent: <%= render TestComponent.new(title: "this text should display inline") %></p> -->

<h1 class="mt-8">FiveStarComponent</h1>
<%= render FiveStarComponent.new(review: Review.find_or_initialize_by(item_id: Item.order(:created_at).first.id, user: current_user)) %>

<h1 class="mt-8">DropDownComponent</h1>
<div class="px-24"><%= render DropDownComponent.new(label: "dropdown", items: []) %></div>

<h1 class="mt-8">SplitButtonComponent</h1>
<div class="px-24"><%= render SplitButtonComponent.new(item: Item.order(:created_at).first, user: current_user, isopen: false) %></div>

<!--
<h1 class="mt-8">StarRatingComponent</h1>
<%= render StarRatingComponent.new(item: Item.order(:created_at).first) %>
-->

<h1 class="mt-8">Rating widgets combined</h1>
<div class="min-w-max-content border border-gray-300 rounded flex flex-row items-stretch bg-white">
    <%= render FiveStarComponent.new(review: Review.find_or_initialize_by(item_id: Item.order(:created_at).first.id, user: current_user)) %>
    <%= render StarRatingComponent.new(item: Item.order(:created_at).first) %>
</div>

<h1 class="mt-8">FlashCardComponent</h1>
<%= render FlashCardComponent.new(fid: FlashCard.first.id) %>

<h1 class="mt-8">ItemPanelComponent</h1>
<%= render ItemPanelComponent.new(item: Item.where(item_type_id: 'video').first, user: current_user) %>

<h1 class="mt-8">ActivityPanelComponent</h1>
<%= render ActivityPanelComponent.new(review: Review.find_or_initialize_by(item_id: Item.order(:created_at).first.id, user: current_user), user: current_user) %>

<h1 class="mt-8">testing</h1>
