<h1 class="mt-8">DropDownComponent</h1>
<div class="px-24"><%= render DropDownComponent.new(label: "dropdown", items: []) %></div>

<div class="mt-6 flex flex-col space-y-2 sm:flex-row sm:justify-between sm:items-stretch sm:space-y-0 sm:space-x-2">
    <p>FiveStarComponent</p>
    <p>SplitButtonComponent</p>
</div>
<div class="mt-6 flex flex-col space-y-2 sm:flex-row sm:justify-between sm:items-stretch sm:space-y-0 sm:space-x-2">
    <%= render FiveStarComponent.new(review: @dummy_review) %>
    <%= render SplitButtonComponent.new(review: @dummy_review, isopen: false) %></div>
</div>

<h1 class="mt-8">ItemPanelComponent</h1>
<%= render ItemPanelComponent.new(item: @item, viewer: current_user) %>

<h1 class="mt-8">ActivityPanelComponent</h1>
<%= render ActivityPanelComponent.new(review: @real_review, viewer: current_user) %>

<h1 class="mt-8">FlashCardComponent</h1>
<%= render FlashCardComponent.new(fid: FlashCard.first.id) %>