<h1>DropDownComponent</h1>
<div class="ml-64"><%= render DropDownComponent.new(label: "dropdown", items: []) %></div>

<h1>SplitButtonComponent</h1>
<div class="ml-64"><%= render SplitButtonComponent.new(item: Item.find("a0cb843d-a6a5-47fb-b691-7254bdad0499"), user: current_user) %></div>

<h1>ActivityPanelComponent</h1>
<%= render ActivityPanelComponent.new(review: Review.last, user: current_user) %>

<h1>ItemPanelComponent</h1>
<div class="bg-white overflow-hidden shadow rounded-lg px-4 sm:px-6">
<%= render ItemPanelComponent.new(item: Item.discover, user: current_user) %>
</div>

<h1>TestComponent</h1>
<%= render TestComponent.new(title: "testing") %>

<h1>FiveStarComponent</h1>
<%= render FiveStarComponent.new(id_prefix: "fsc", name: "foo", value: "5") %>
