<div class="row">
	<div class="col-md-12 mb-4">
	  <div class="card mb-4">
	  	<div class="card-body">
	  			<script src="https://cdn.jsdelivr.net/npm/typed.js@2.0.9"></script>
	  			<div style="position: relative;">

	  				<h1 class="display-4 mu-4 mb-4" style="opacity: 0.0;">Show me <u>podcasts</u> about <u>machine learning</u> which are <u>30 to 60 minutes</u> long and are <u>challenging</u>.</h1>

	  				<h1 class="display-4 mu-4 mb-4" id="queryheadline" style="position: absolute; top: 0px;">Show me <u>podcasts</u> about <u>machine learning</u> which are <u>30 to 60 minutes</u> long and are <u>challenging</u>.</h1>
	  			</div><br/>

	  			<div class="text-center"><a id="querylink" href="<%= query_items_path(topic: 'machine-learning', item_type: 'audio', length: '30-60', quality: 'challenging', commit: 'Search') %>" class="btn btn-success btn-lg btn-pill">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Try it!&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</a></div>
	  			<br/><br/>

	  			<h1 class="display-5 mu-4"><%= Topic.count %> topics. <%= ItemType.count %> formats. <b><big><%= Item.count %></big></b> learning resources. <% if current_user.try(:score).to_i >= 5000 %><%= User.count %> users. <%= Review.count %> reviews.<% end %> All about YOU - the lifelong learner.</h1>

	  			<script type="text/javascript" defer>
	  				document.addEventListener('DOMContentLoaded', function(){
	  					setTimeout(animateHeadline, 2000);
	  				});
	  			</script>
	  	</div>
	  </div>

	  <div class="card">
	  	<div class="card-header">
	  		<h2 class="h1 card-header-title">We're building humanity's universal learning map.</h2>
	  	</div>
	  	<div class="card-body">
	  		<p class="lead">Today's learning platforms are not actually learner-centric. They want the students to be locked within their apps &amp; websites and insist on specific formats. But the way we learn in 21st century is far too rich. <b>We learn from blogs, podcasts, videos, tweetstorms, livestreams, newsletters, infographics, Q&A sites and much more.</b> Discovering the right kind of learning material for YOU at the right time is still too hard.</p>

	  		<p class="lead">In 2012, Danny Hillis had presented the vision of <a href="https://www.youtube.com/watch?v=wKcZ8ozCah0" target="_blank"><u>a global learning map</u></a>. However, it did not really materialize at that time. Some of us, who like to think of ourselves as lifelong learners, really wanted something like that. So, we're building one. Everyone is welcome to join.</p>

	  		<p class="lead">We have a browser extension (<a href="https://chrome.google.com/webstore/detail/learnawesome/mfmicnedcecjcchodnaijomibiplacie" target="_blank">Chrome / Brave</a>, <a href="https://addons.mozilla.org/en-US/firefox/addon/learnawesome/" target="_blank">Firefox</a>), <a href="https://gitter.im/learn-awesome/community" target="_blank">a group chat for learners</a>, an API and even embed widgets to display your own learning activity on your own website. This app itself is <a href="https://github.com/learn-awesome/learn" target="_blank">open-source</a> and so are the <a href="https://gitter.im/learn-awesome/meta" target="_blank">development discussions</a>. Dive in! :-)</p>
	  	</div>
	  </div>

	  	<div class="card h-10">
			<header class="card-header d-flex align-items-center">
				<span>
					<a class="btn btn-sm btn-soft-info" href="/item_types/book">Videos</a>
				</span>
				<h2 style="margin-left: 10px" class="h3 card-header-title">What is coding?</h2>

				<!-- Card Header Icon -->
				<ul class="list-inline ml-auto mb-0">
					<li class="list-inline-item">
						<a class="link-muted h3" href="#!">
							<i class="far fa-bookmark"></i>
						</a>
					</li>
				</ul>
				<!-- End Card Header Icon -->
			</header>

			<img class="card-img-top rounded-0" src="https://i.ytimg.com/vi/cKhVupvyhKk/maxresdefault.jpg" alt="Card image cap">

			<div class="card-body">

				<div style="display: flex;justify-content: left;align-items: center;margin-bottom:1rem;">
					<div style="background-image: url('https://randomuser.me/api/portraits/men/40.jpg');" class="avatar"></div>
					<div style="background-image: url('https://randomuser.me/api/portraits/women/79.jpg');margin-left: -9px;" class="avatar"></div>
					<div style="background-image: url('https://randomuser.me/api/portraits/men/56.jpg');margin-left: -9px;" class="avatar"></div>
					<div> 
						<span style="font-weight: 600;margin-left: 2px;">+15</span>
						<span style="font-size: 14px;">have learned from this</span>
					</div>
				</div>

				<p class="mb-5">
					Learn what computer programming is. The Hour of Code is a nationwide initiative by Computer Science Education Week and Code.org to introduce millions of stu...
				</p>

				<h6 class="card-subtitle text-muted text-uppercase mb-3">Reviews from people you follow</h6>

				<div class="media align-items-center mb-4">
					<img class="u-avatar--xs rounded-circle mr-3" src="https://randomuser.me/api/portraits/men/26.jpg" alt="Image description" alt="Image description">

					<div class="media-body">
						<div class="d-flex align-items-center">
							<h5 class="mb-1">Zadavan</h5>

						</div>

						<div style="font-size: 0.8em;color: #c2cde0;">
							<i class="fas fa-star" style="color: #ffbd07;"></i>
							<i class="fas fa-star" style="color: #ffbd07;"></i>
							<i class="fas fa-star" style="color: #ffbd07;"></i>
							<i class="fas fa-star" style="color: #ffbd07;"></i>
							<i class="fas fa-star" style="color: #ffbd07;"></i>
						</div>
					</div>

					<button type="button" class="btn btn-sm btn-outline-primary ml-auto">See review</button>

				</div>

				<div class="media align-items-center mb-4">
					<img class="u-avatar--xs rounded-circle mr-3" src="https://randomuser.me/api/portraits/men/63.jpg" alt="Image description" alt="Image description">

					<div class="media-body">
						<div class="d-flex align-items-center">
							<h5 class="mb-1">ChickenRobot</h5>

						</div>

						<div style="font-size: 0.8em;color: #c2cde0;">
							<i class="fas fa-star" style="color: #ffbd07;"></i>
							<i class="fas fa-star" style="color: #ffbd07;"></i>
							<i class="fas fa-star" style="color: #ffbd07;"></i>
							<i class="fas fa-star" style="color: #ffbd07;"></i>
							<i class="fas fa-star"></i>
						</div>
					</div>

					<button type="button" class="btn btn-sm btn-outline-primary ml-auto">See review</button>

				</div>
				
				<div class="mt-2">
					<a class="badge badge-soft-info" href="#">Programming</a>
					<a class="badge badge-soft-info" href="#">Computer Science</a>
					<a class="badge badge-soft-info" href="#">Mathematics</a>
				</div>

			</div>

			<footer class="card-footer d-flex align-items-center">
				<a class="link-muted h3 d-flex align-items-center mb-0" href="#!">
					<i class="far fa-thumbs-up"></i>
					<span class="h5 ml-2 mb-0">More like this</span>
				</a>
				<a class="link-muted h3 d-flex align-items-center mb-0 ml-4" href="#!">
					<i class="far fa-thumbs-down"></i>
					<span class="h5 ml-2 mb-0">Less like this</span>
				</a>
				<div class="ml-auto">
					<a class="btn btn-primary" href="#">See content now</a>
				</div>
			</footer>
		</div>


	</div>
</div>
