<div class="bg-white rounded-lg shadow-lg mb-4 mr-4 p-2">
	<h1 class="text-gray-800 text-xl font-semibold mb-2">Recommended</h1>
	<% @item.recommended_items(current_user).each do |rel| %>
		<a href="<%= item_path(rel) %>" class="block flex border-t-2 p-2 hover:bg-gray-200">
			<img class="mr-3" src="<%= rel.thumbnail %>" alt="<%= rel.item_type.display_name_plural %>">
			<p>
				<%= rel.display_name %><br/>
				<span class="text-sm text-gray-600"><%= rel.primary_link.top_domain %></span>
			</p>
		</a>
	<% end %>
</div>