<h1 class="text-gray-900 text-base mb-2">Also available as:</h1>
<% @item.related_items.each do |rel| %>
	<a href="<%= rel.primary_link.url %>" target='_blank' class="block flex border-t-2 p-2 hover:bg-gray-200">
		<img class="mr-3 h-24 w-24" src="<%= rel.thumbnail %>" alt="<%= rel.item_type.display_name_plural %>">
		<p>
			<%= ItemType.display_name_singular(rel.item_type_id).capitalize %>: <%= rel.display_name %><br/>
			<span class="text-sm text-gray-600"><%= rel.primary_link.top_domain %></span>
		</p>
	</a>
<% end %>
