												<div class="form-group">
													<%= render 'components/dropper' %>
												</div>

										<%= form_with(model: @my_review) do |form| %>
											<div class="inplacereview">

												<hr>
												<div class="form-group mb-2 star_ratings">
												<%= render 'components/fivestar_input', idprefix: 'overallstar', name: "review[overall_score]", value: @my_review.overall_score, onchange: 'this.form.submit();' %>
												</div>
								
												<br>
												<br>
								
												<input type="hidden" name="review[item_id]" value="<%= @item.id %>" />
												<br>
												<div class="item_categorization">
													<div class="btn-group btn-group-toggle btn-sm" data-toggle="buttons">
													  <% [:inspirational, :educational, :challenging, :entertaining, :visual, :interactive].each do |quality| %>
													  <input type="hidden" name="review[<%= quality %>_score]" value="0" />
													  <label class="btn btn-sm btn-outline-info ml-2 mb-2 <%= @my_review.send(quality.to_s + "_score").to_i >= 3 ? 'active' : '' %>">
														<input type="checkbox" <%= @my_review.send(quality.to_s + "_score").to_i >= 3 ? 'active' : '' %> autocomplete="off" name="review[<%= quality %>_score]" onchange="this.form.submit();" value="5" <%= @my_review.send(quality.to_s + "_score").to_i >= 3 ? 'checked' : '' %>> <%= quality.capitalize %>
													  </label>
													  <% end %>
													</div>
												</div>
											</div>
										<% end %>

										<%= form_with(model: @my_review) do |form| %>				
												<input type="hidden" name="review[item_id]" value="<%= @item.id %>" />
												<div class="item_review_notes">
													<%= form.text_area :notes, class: 'form-control form-control-sm', placeholder: 'Write your review here...' %>
													<%= form.submit 'Save', class: 'btn btn-sm btn-success' %>
												</div>
										<% end %>