<% if @item.reviews.interested.any? %>
<div class="bg-white rounded-lg shadow-lg mb-4 mr-4 p-2">
	<h1 class="text-gray-800 text-xl font-semibold mb-2">Users learning from this</h1>
	<div class="flex relative z-0 overflow-hidden">
	<% @item.reviews.interested.each do |rev| %>
		<a title="<%= rev.user.nickname %>" href="<%= user_path(rev.user) %>"><img class="relative inline-block h-10 w-10 rounded-full text-white shadow-solid" src="<%= rev.user.avatar_image %>" alt="<%= rev.user.nickname %>" /></a>
	<% end %>
	</div>
</div>
<% end %>

<div class="bg-white rounded-lg shadow-lg mb-4 mr-4 p-2">
	<h1 class="text-gray-800 text-xl font-semibold mb-2">Reviews</h1>
	<% @item.reviews.completed.popular.each do |rev| %>
		<% if rev.persisted? %>
			<a href="<%= review_path(rev) %>" class="block flex border-t-2 p-2 hover:bg-gray-200">
		<% else %>
			<a href="javascript:void(0)" class="block flex border-t-2 p-2 cursor-default">
		<% end %>
		<img class="w-8 h-8 rounded-full mr-3" src="<%= rev.user.avatar_image %>" alt="<%= rev.user.nickname %>">
		<p>
			<span class="text-orange-500 text-lg" style="letter-spacing: -0.2em;"><%= rev.display_rating %></span><br/>
			<span class="text-sm text-gray-600"><%= rev.tags_text %></span><br/>
			<%= rev.notes.to_s.truncate(200) %>
		</p>
		</a>
	<% end %>
</div>