<div class="bg-white rounded-lg shadow-lg mb-4 mr-4 p-2">
	<div class="flex flex-wraps">
		<%= render 'components/dropper' %>
		<div style="display: inline-block">
			<%= form_with(model: @my_review, style: "display: inline") do |form| %>
				<%= render 'components/fivestar_input', idprefix: 'overallstar', name: "review[overall_score]", value: @my_review.overall_score, onchange: 'this.form.submit();' %>
				<input type="hidden" name="review[item_id]" value="<%= @item.id %>" />
			<% end %>
			<div style="text-align: center">
				<% if @my_review.persisted? and @my_review.overall_score.present? %>
				<%= link_to "clear", review_path(@my_review, review: {overall_score: ""}), method: :patch %>
				<% end %>
			</div>
		</div>
	</div>

	<%= form_with(model: @my_review) do |form| %>
		<div class="">
			<input type="hidden" name="review[item_id]" value="<%= @item.id %>" />
			<br>
			<div class="item_categorization">
				<div class="btn-group-toggle" data-toggle="buttons">
					<% [:inspirational, :educational, :challenging, :entertaining, :visual, :interactive].each do |quality| %>
					<input type="hidden" name="review[<%= quality %>_score]" value="0" />
					<label class="inline-block align-middle text-center select-none border rounded py-2 px-2 cursor-pointer text-sm leading-tight ml-1 mb-2 <%= @my_review.send(quality.to_s + "_score").to_i >= 3 ? 'bg-blue-500 text-white' : '' %>">
					<input class="hidden" type="checkbox" <%= @my_review.send(quality.to_s + "_score").to_i >= 3 ? 'active' : '' %> autocomplete="off" name="review[<%= quality %>_score]" onchange="this.form.submit();" value="5" <%= @my_review.send(quality.to_s + "_score").to_i >= 3 ? 'checked' : '' %>> <%= quality.capitalize %>
					</label>
					<% end %>
				</div>
			</div>
		</div>
	<% end %>

	<%= form_with(model: @my_review, local: true) do |form| %>				
			<input type="hidden" name="review[item_id]" value="<%= @item.id %>" />
			<div class="mb-4 mb-4 pd-6">
				<%= form.text_area :notes, class: 'resize-y appearance-none block w-full bg-gray-200 text-gray-700 border border-gray-200 rounded py-3 px-4 mb-3 leading-tight focus:outline-none focus:bg-white focus:border-gray-500 h-48 resize-none', placeholder: 'Write your review here' %>
			</div>
			<%= form.submit 'Save', class: 'shadow bg-teal-400 hover:bg-teal-400 focus:shadow-outline focus:outline-none text-white font-bold py-2 px-4 rounded' %>
	<% end %>

</div>