<div class="rows">
	<%= render 'components/dropper' %>
	
	<div style="display: inline-block">
		<%= form_with(model: @my_review, style: "display: inline") do |form| %>
			<%= render 'components/fivestar_input', idprefix: 'overallstar', name: "review[overall_score]", value: @my_review.overall_score, onchange: 'this.form.submit();' %>
			<input type="hidden" name="review[item_id]" value="<%= @item.id %>" />
		<% end %>

		<div style="text-align: center">
			<% if @my_review.persisted? and @my_review.overall_score.present? %>
			<%= link_to "clear", review_path(@my_review, review: {overall_score: ""}), method: :patch %>
			<% end %>
		</div>
	</div>

</div>

<div class="rows">
										<%= form_with(model: @my_review) do |form| %>
											<div class="inplacereview">

												<input type="hidden" name="review[item_id]" value="<%= @item.id %>" />
												<br>
												<div class="item_categorization">
													<div class="btn-group-toggle" data-toggle="buttons">
													  <% [:inspirational, :educational, :challenging, :entertaining, :visual, :interactive].each do |quality| %>
													  <input type="hidden" name="review[<%= quality %>_score]" value="0" />
													  <label class="btn btn-sm btn-outline-info ml-2 mb-2 <%= @my_review.send(quality.to_s + "_score").to_i >= 3 ? 'active' : '' %>">
														<input type="checkbox" <%= @my_review.send(quality.to_s + "_score").to_i >= 3 ? 'active' : '' %> autocomplete="off" name="review[<%= quality %>_score]" onchange="this.form.submit();" value="5" <%= @my_review.send(quality.to_s + "_score").to_i >= 3 ? 'checked' : '' %>> <%= quality.capitalize %>
													  </label>
													  <% end %>
													</div>
												</div>
											</div>
										<% end %>

										<%= form_with(model: @my_review, local: true) do |form| %>				
												<input type="hidden" name="review[item_id]" value="<%= @item.id %>" />
												<div class="form-group mb-4 pd-6">
													<%= form.text_area :notes, class: 'form-control form-control-sm', placeholder: 'Write your review here' %>
												</div>
												<%= form.submit 'Save', class: 'btn btn-sm btn-success ml-6' %>
										<% end %>
</div>