<div class="card max-w-4xl mx-auto">
<%= form_for @item, html: {class: "simple-form"} do |form| %>
    <h1>Edit: <%= @item.display_name %></h1>

    <% if @item.errors.any? %>
    <ul>
    <% @item.errors.full_messages.each do |msg| %>
    <li><%= msg %></li>
    <% end %>
    </ul>
    <% end %>

    <%= form.label :name, "Name:" %>
    <%= form.text_field :name, minlength: 3, maxlength: 255, required: true %>

    <%= form.label :description, "Description:" %>
    <%= form.text_area :description %>

    <%= form.label :item_type_id, "Format" %>
    <%= form.select :item_type_id, ItemType.order(:display_name_plural).collect {|t| [t.display_name_plural, t.id]}, { include_blank: "--- Select Type ---"} %>

    <br>
    <h2>Links: <%= link_to_add_association form, :links, {'data-association-insertion-method' => 'after'} do %>
        <i class="fa fa-plus-circle" aria-hidden="true"></i>
    <% end %>
    </h2>
    <%= form.fields_for :links do |link| %>
        <%= render 'link_fields', f: link %>
    <% end %>

    <br>
    <%= form.fields_for :idea_set do |iform| %>
        <h2>Topics: <%= link_to_add_association iform, :topic_idea_sets, {'data-association-insertion-method' => 'after'} do %>
            <i class="fa fa-plus-circle" aria-hidden="true"></i>
        <% end %>
        </h2>
        <%= iform.fields_for :topic_idea_sets do |topic_idea_set| %>
            <%= render 'topic_idea_set_fields', f: topic_idea_set %>
        <% end %>
    <% end %>

    <%= form.label :image_url, "Image URL:" %>
    <%= form.url_field :image_url, minlength: 8, maxlength: 1024 %>

    <div class="flex flex-wrap justify-between">
        <div class="form-inline">
            <label class="text-gray-700" for="item_estimated_time">Estimated time to complete: &nbsp;</label>
            <input min="0" class="px-4 py-2 rounded bg-gray-200 text-gray-800 border border-gray-300 focus:outline-none focus:bg-white" type="number" name="item[estimated_time]" id="item_estimated_time" value="<%= @item.estimated_time %>">&nbsp;
            <select class="mt-1 px-4 py-2 rounded" name="item[time_unit]" id="item_time_unit" >
                <option value="minutes" >minutes</option>
                <option value="hours" >hours</option>
            </select>
        </div>

        <div>
        <label for="item_typical_age_range">Typical age range:</label>
        <select name="item[typical_age_range]" id="item_typical_age_range">
            <option value="">All ages</option>
            <option value="-6">Upto 6 yrs</option>
            <option value="6-">6 yrs+</option>
            <option value="-13">Upto 13yrs</option>
            <option value="13-">13 yrs+</option>
            <option value="18-">18 yrs+</option>
        </select>
        </div>

        <div>
        <%= form.label :year, "Year of publication:" %>
        <%= form.number_field :year %>
        </div>
    </div>

    <div class="flex flex-wrap justify-between">
        <div class="form-inline">
            <label class="text-gray-700" for="item_cost">Cost (USD): &nbsp;</label>
            <input min="0" step="0.01" class="px-4 py-2 rounded bg-gray-200 text-gray-800 border border-gray-300 focus:outline-none focus:bg-white" type="number" name="item[cost]" id="item_cost" value="<%= @item.cost %>">&nbsp;
        </div>

        <div>
        <label for="item_language">Language:</label>
        <input class="px-4 py-2 rounded bg-gray-200 text-gray-800 border border-gray-300 focus:outline-none focus:bg-white" type="string" name="item[language]" id="item_language" value="<%= @item.language %>">&nbsp;
        </div>
    </div>

    <% if @item.item_type_id == 'book' %>
    <h1>For Books:</h1>
    <div class="flex flex-wrap justify-between">
        <div class="form-inline">
            <label class="text-gray-700" for="item_page_count">Page count: &nbsp;</label>
            <input min="0" class="px-4 py-2 rounded bg-gray-200 text-gray-800 border border-gray-300 focus:outline-none focus:bg-white" type="number" name="item[page_count]" id="item_page_count" value="<%= @item.page_count %>">&nbsp;
        </div>

        <div>
        <label for="item_goodreads_rating">Rating on GoodReads:</label>
        <input min="0.0" max="5.0" step="0.01" class="px-4 py-2 rounded bg-gray-200 text-gray-800 border border-gray-300 focus:outline-none focus:bg-white" type="number" name="item[goodreads_rating]" id="item_goodreads_rating" value="<%= @item.goodreads_rating %>">&nbsp;
        </div>
    </div>

    <div class="flex flex-wrap justify-between">
        <div>
        <%= form.label :isbn, "ISBN (10-digit):" %>
        <%= form.text_field :isbn %>
        </div>

        <div>
        <%= form.label :isbn13, "ISBN (13-digit):" %>
        <%= form.text_field :isbn13 %>
        </div>
    </div>
    <% end %>

    <%= form.submit "Save" %>
<% end %>
</div>