<div class="card shadow p-3 mb-5 bg-white rounded">
	<div class="d-flex justify-content-between">
		<div class="item_topics" id="topformdiv">
			<div id="search_topic" class="input-group input-group-sm mb-3">
				<input type="text" class=" typehead form-control form-control-sm rounded" placeholder="Search Topics" aria-label="Search Topics">
				<div class="input-group-append">
					<% @item.topics.map do |topic| %>
						<div class="btn-group topic" data-id="<%= topic.id %>">
							<div class= "btn btn-sm grey-btn"><%= topic.name %></div>
							<div class="btn btn-sm remove_topic">
								<i class="fa fa-times" aria-hidden="true"></i>
							</div>
						</div>
					<% end %>
				</div>
			</div>
			<span class="form-error topic_count_error hidden">Add minimum 1 topic.</span>
		</div>
		<div class="item_actions">
			<button id="saveItemBtn" class="btn btn-sm btn-success">Save</button>
		</div>
	</div>
	<div class="card-body">
		<h2 class="card-title">
			<span>
				<div class="form-inline">
					<span class="small">Type: </span> &nbsp;
					<select class="form-control form-control-sm" id="item_type">
						<% ItemType.all.each do |type| %>
							<% if type.id == @item.item_type_id %>
								<option value="<%= type.id %>" selected="selected"><%= type.display_name_plural %></option>
							<% else %>
								<option value="<%= type.id %>"><%= type.display_name_plural %></option>
							<% end %>
						<% end %>
					</select>
				</div>
			</span>
			<br>
			<input id="item_name_input" type="text" value="<%= @item.name.titleize %>" >
			<span class="form-error item_name_error hidden">Item name must be minimum 3 characters</span>
		</h2>

		<br>
		<h4>Links: &nbsp;<i id="addNewLink" class="fa fa-plus-circle" aria-hidden="true"></i>&nbsp;&nbsp;
		<span class="form-error item_links_error hidden">Make sure the links are valid</span>
		</h4>
		<div class="item_links">
			<% @item.links.map do |link| %>
				<div class="input-group input-group-sm mb-3">
					<span>&#8599; </span> &nbsp;
					<input class="form-control form-control-sm link_input" data-id="<%= link.id %>" type="text" value="<%= link.url %>">
					<i class="fa fa-trash" aria-hidden="true"></i>
				</div>
			<% end %>
		</div>
		<br>
		<div class="form-group mb-4">
			<div class="form-inline">
				<label for="item_estimated_time">Estimated time to complete: &nbsp;</label>
				<input min="0" class="form-control form-control-sm" type="number" name="item[estimated_time]" id="item_estimated_time" value="<%= @item.estimated_time %>">&nbsp;
				<select class="form-control form-control-sm" name="item[time_unit]" id="item_time_unit" >
					<option value="minutes" >minutes</option>
					<option value="hours" >hours</option>
				</select>
			</div>
		</div>
		<br>
		<div class="form-group mb-4">
			<div class="row">
				<div class="form-inline col-md-6">
					<label for="item_estimated_time">Typical age range: &nbsp;</label>
					<select class="form-control form-control-sm" name="item[typical_age_range]" id="item_typical_age_range">
						<option value="">All ages</option>
						<option value="-6">Upto 6 yrs</option>
						<option value="6-">6 yrs+</option>
						<option value="-13">Upto 13yrs</option>
						<option value="13-">13 yrs+</option>
						<option value="18-">18 yrs+</option>
					</select>
				</div>
				<div class="form-inline col-md-6">
					<label for="item_year_of_publication">Year of publication/creation: &nbsp;</label>
					<input type="number" min='1900' max="<%= Date.today.year.to_i + 5 %>" id="item_year_of_publication" value="<%= @item.year %>" class="form-control form-control-sm">
				</div>
			</div>
		</div>
		<br>
	</div>
</div>

<script>
  item_id = "<%= @item.id %>";
  $('#item_time_unit').val("<%= @item.time_unit %>");
  $('#item_typical_age_range').val("<%= @item.typical_age_range %>");
</script>
