<div class="max-w-2xl p-6 mx-auto bg-white rounded-md shadow-md">
    <h2 class="text-lg text-gray-700 font-semibold capitalize">Add a new learning resource</h2>
    <%= form_with scope: :item, url: items_path, local: true do |form| %>
        <% all_topics = Topic.all.sort_by(&:name) %>
        <%= form.collection_select :item_type_id, ItemType.all.sort_by(&:display_name_plural), :id, :display_name_plural, {required: true, selected: @item_type, prompt: "Select Format"}, required: true, class: "mt-6 block py-2 px-4 bg-gray-200 w-full shadow" %>

        <%= form.url_field :url, value: @item_url, required: true, placeholder: "URL", class: "w-full mt-6 py-2 px-4 bg-gray-200 text-gray-700 border border-gray-300 rounded  block appearance-none placeholder-gray-500 focus:outline-none focus:bg-white" %>

        <%= form.collection_select :first_topic, all_topics, :id, :name, {prompt: 'Choose main topic', selected: @topics.first.try(&:id)}, required: true, class: "mt-6 block py-2 px-4 bg-gray-200 w-full shadow" %>

        <%= form.collection_select :second_topic, all_topics, :id, :name, {prompt: 'Choose secondary topic', selected: @topics[1..-1].first.try(&:id)}, required: false, class: "mt-6 block py-2 px-4 bg-gray-200 w-full shadow" %>

        <div class="flex justify-between items-center mt-6">
        <%= form.submit "Save", class: "py-2 px-4 bg-gray-700 text-white rounded hover:bg-gray-600 focus:outline-none" %>
        </div>
    <% end %>
</div>