<div class="row">
<div class="col-md-12 mb-4">
<div class="card">

<header class="card-header">
<%= form_with local: true, method: :get, class: "form-inline" do |form| %>
  Show me &nbsp; 
  <%= form.select :item_type, ItemType.all.collect {|t| [t.display_name_plural, t.id]}, selected: @item_type, include_blank: "Any format", class: "form-control form-pill" %> &nbsp; about &nbsp; 
  <%= form.select :topic, Topic.all.collect {|t| [t.display_name, t.name]}, selected: @topic_name, include_blank: "Any topic", class: "form-control form-pill" %> 
  &nbsp; which are &nbsp; 
  <%= form.select :length, [["< 5 minutes", "0-5"], ["30 to 60 minutes", "30-60"]], selected: @length, include_blank: "Any length", class: "form-control form-pill" %> 
  &nbsp; long and &nbsp; 
  <%= form.select :quality, [["inspirational", "inspirational"],["educational", "educational"],["challenging", "challenging"], ["entertaining", "entertaining"],["visual", "visual"], ["interactive", "interactive"]], selected: @quality, include_blank: "Any quality", class: "form-control form-pill" %> &nbsp; <% if current_user %>which I haven't seen<% end %>. &nbsp;

  <%= form.submit "Search", class: "btn btn-primary" %>
<% end %>
</header>

<div class="card-body">
  <% if @topic_name.present? or @item_type.present? or @length.present? or @quality.present? %>
    <% if @items.any? %>
      <%= render @items %>
    <% else %>
      <h2>No such items.</h2>
    <% end %>
  <% end %>
</div>

</div>
</div>
</div>