<div class="row">
<div class="col-md-6 mb-4">
<div class="card">

<header class="card-header">
<% if @q.present? %>
	<% if @items.any? %>
		<% @items.group_by(&:item_type).each do |item_type, items| %>
			<%= render items %>
		<% end %>
	<% else %>
		<h2 class="h3 card-header-title">No results found for &quot;<%= @q %>&quot;. Try again?</h2>
	<% end %>
<% else %>
	<h2 class="h3 card-header-title">Search or add a learning resource</h2>
<% end %>
</header>

<div class="card-body">
<%= form_with local: true, method: :get do |form| %>
  <div class="form-group mb-4">
    <%= form.label :q, "URL or Title" %><br>
    <%= form.text_field :q, value: @q, minlength: 5, maxlength: 30, class: "form-control form-pill" %>
  </div>

  <div class="form-group mb-4">
  	<% if params[:commit].present? %>
  		<%= form.submit "Search", class: "btn btn-primary" %>
  		<%= link_to "Add A New Link", (@q.start_with?('http://') or @q.start_with?('https://') ? new_item_path(url: @q) : new_item_path(name: @q)), class: "btn btn-primary" %>
  	<% else %>
    	<%= form.submit current_user.present? ? "Search or Add" : "Search", class: "btn btn-primary" %>
    <% end %>
  </div>
<% end %>
</div>

</div>
</div>
</div>