<% content_for :title do %>
	<%= @item.display_name %> :: LearnAwesome
<% end %>
<% content_for :opengraph do %>
  <link rel="canonical" href="<%= item_url(@item) %>" />
  <meta name="keywords" content="personalized learning platform, edtech, curated links, best books, best podcasts, best videos, learn new skills">
  <meta name="description" content="<%= @item.description %>: LearnAwesome.org :: Humanity's universal learning map">
  <meta property="og:title" content="<%= @item.display_name %> :: LearnAwesome.org">
  <meta property="og:description" content="LearnAwesome.org :: Humanity's universal learning map">
  <meta property="og:image" content="<%= @item.new_thumbnail || 'https://learnawesome.org/stream/assets/img/ogimage.png' %>">
  <!-- <meta property="og:url" content="https://learnawesome.org/"> -->
  <meta name="twitter:card" content="summary_large_image">
<% end %>

<div class="my-4 max-w-3xl mx-auto grid grid-cols-1 gap-6 sm:px-6 lg:max-w-full lg:grid-flow-col-dense lg:grid-cols-3">
<div class="space-y-6 lg:col-start-1 lg:col-span-2">
  <section aria-labelledby="applicant-information-title">
  	<%= render ItemPanelComponent.new(item: @item, user: current_user) %>
  </section>
</div>

<section aria-labelledby="timeline-title" class="lg:col-start-3 lg:col-span-1">
  <% if @item.related_items.any? %>
  <div class="bg-white px-4 py-5 shadow sm:rounded-lg sm:px-6 mb-8">
		<%= render 'related_card' %>
  </div>
  <% end %>

  <% if user_signed_in? and current_user %>
  <div class="bg-white px-4 py-5 shadow sm:rounded-lg sm:px-6">
  	<%= render 'review_form' %>
  </div>
  <% end %>
</section>
</div>



