<% content_for :title do %>
	<%= @item.display_name %> :: LearnAwesome
<% end %>

<% content_for :opengraph do %>
  <meta name="keywords" content="personalized learning platform, edtech, curated links, best books, best podcasts, best videos, learn new skills">
  <meta name="description" content="<%= @item.description %>: LearnAwesome.org :: Humanity's universal learning map">

  <meta property="og:title" content="<%= @item.display_name %> :: LearnAwesome.org">
  <meta property="og:description" content="LearnAwesome.org :: Humanity's universal learning map">
  <meta property="og:image" content="https://learnawesome.org/stream/assets/img/ogimage.png">
  <!-- <meta property="og:url" content="https://learnawesome.org/"> -->
  <meta name="twitter:card" content="summary_large_image">
<% end %>

<div class="card shadow p-3 mb-5 bg-white rounded">
	<div class="d-flex justify-content-between">
		<div class="item_topics">
			<% @item.topics.map do |topic| %>
				<%= link_to topic.name, topic, class: "btn btn-sm #{Topic.button_style}" %>
			<% end %>
		</div>
		<div class="item_actions">
			<% if current_user and current_user.score > 500 %>
			<%= link_to "Improve", edit_item_path(item_id: @item.id), class: "btn btn-sm btn-soft-primary" %>
			<% end %>
		</div>
	</div>
	<div class="card-body">
		<h2 class="card-title">
			<span>
				<%= link_to @item.item_type.display_name_plural, @item.item_type, class: "btn btn-sm #{ItemType.button_style}" %>&nbsp;
			</span>
			<%= @item.name.titleize %>
			<br>
			<div><% @item.idea_set.person_idea_sets.where(role: 'creator').collect(&:person).each do |creator| %>
				<small><%= link_to creator.name, creator %>&nbsp;</small>
			<% end %>
			</div>		

			<% if @item.description.present? || @item.image_url.present? %>
				<div class="card bg-white rounded description_card">
					<div class="card-body item_description"><% if @item.image_url.present? %><a href="<%= @item.image_url %>" target='_blank'><img class="item_image img-thumbnail float-left" src="<%= @item.image_url %>"></a><% end %><%= @item.description.strip %>
					</div>
				</div>
			<% end %>
			<div class="item_extra_details">
				<% if @item.estimated_time %>
					<span class="nohover btn btn-sm btn-soft-info" data-toggle="tooltip" data-placement="top" title="Estimated time to complete">
						<i class="fa fa-clock-o" aria-hidden="true"></i> &nbsp;
						<%= @item.estimated_time.to_s + @item.time_unit[0] %>
					</span>
				<% end %>
				<% if @item.typical_age_range.present? %>
					<span class="nohover btn btn-sm btn-soft-info" data-toggle="tooltip" data-placement="top" title="Typical age range">
						<% if @item.typical_age_range[0] == '-' %>
							<%= "For ages: Upto #{@item.typical_age_range[1..]} years"%>
						<% else %>
							<%= "For ages: #{@item.typical_age_range[0...-1]}+ years"%>
						<% end %>
					</span>
				<% end %>
				<% if @item.year.present? %>
					<span class="nohover btn btn-sm btn-soft-info" data-toggle="tooltip" data-placement="top" title="Year of publication">
						<i class="fa fa-calendar-check-o" aria-hidden="true"></i> &nbsp;
						<%= @item.year %>
					</span>
				<% end %>
			</div>
		</h2>

		<div class="item_links">
			<span>&#8599; </span> &nbsp;
			<% @item.links.map do |link| %>
				<%= link_to link.top_domain, link.url, class: "btn btn-sm btn-primary", target: :_blank %>
			<% end %>
		</div>

		<div class="inplacereview">
			<p>&nbsp;</p>
			<%= form_with(model: @my_review) do |form| %>
				<%= form.select :status, [['I have heard good things about it','recommending'], ['I have learned from this', 'learned'], ['I am currently going through this','learning'], ['I want to learn from this','want_to_learn']], {required: true}, class: "form-control", onchange: 'this.form.submit();' %>


				<div class="btn-group btn-group-toggle btn-sm" data-toggle="buttons">
				  <% [:inspirational, :educational, :challenging, :entertaining, :visual, :interactive].each do |quality| %>
				  <label class="btn btn-secondary <%= @my_review.send(quality.to_s + "_score").to_i >= 3 ? 'active' : '' %>">
				  	<input type="hidden" name="review[<%= quality %>_score]" value="0" />
				    <input type="checkbox" <%= @my_review.send(quality.to_s + "_score").to_i >= 3 ? 'active' : '' %> autocomplete="off" name="review[<%= quality %>_score]" onchange="this.form.submit();"> <%= quality.capitalize %>
				  </label>
				  <% end %>
				</div>

			<% end %>
		</div>
	</div>
</div>
<br>
<div class="card shadow-sm p-3 mb-5 bg-white rounded">
	<div class="d-flex header justify-content-between">
		<h2 class="h3 card-header-title">Reviews</h2>
		<div class="item_actions">
			<% if (rev = @my_review) %>
				<%= link_to "Modify my review", edit_review_path(rev), class: "btn btn-sm #{ItemType.button_style}" %>
			<% else %>
				<%= link_to "Add my review", new_review_path(item_id: @item.id), class: "btn btn-sm #{ItemType.button_style}" %>
			<% end %>
		</div>
	</div>
	<div class="card-body">
		<% if @item.reviews.any? %>
		<div class="row">
			<div class="col-md-6 mb-4">
			  <div class="card">
				<div class="card-body">
					<div class="list-group list-lg-group list-group-flush">
					<% @item.reviews.each do |rev| %>

							<div class="list-group-item">

									<div class="media">
										<img class="u-avatar rounded-circle mr-3" src="<%= rev.user.auth0["info"]["image"] %>" alt="Image description">

										<div class="media-body">
											<div class="d-md-flex align-items-center">
												<h4 class="mb-1">
													<%= link_to rev.user.nickname, user_path(rev.user) %> <span class="badge badge-light mx-1"><%= rev.status %></span>
												</h4>
												<small class="text-muted ml-md-auto"><%= rev.created_at.to_date.to_s %></small>
											</div>

											<p class="mb-0"><%= rev.notes %></p><br/>
											<p class="mb-0"><code>Inspirational:</code> <%= "★" * rev.inspirational_score.to_i %></p>
											<p class="mb-0"><code>Educational&nbsp;&nbsp;:</code> <%= "★" * rev.educational_score.to_i %></p>
											<p class="mb-0"><code>Challenging&nbsp;&nbsp;:</code> <%= "★" * rev.challenging_score.to_i %></p>
											<p class="mb-0"><code>Entertaining&nbsp;:</code> <%= "★" * rev.entertaining_score.to_i %></p>
											<p class="mb-0"><code>Visual&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;:</code> <%= "★" * rev.visual_score.to_i %></p>
											<p class="mb-0"><code>Interactive&nbsp;&nbsp;:</code> <%= "★" * rev.interactive_score.to_i %></p>
										</div>
									</div>
							</div>

					<% end %>
					</div>
				</div>
			  </div>
			</div>
		</div>
		<% else %>
			<p>No reviews available for this.</p>
		<% end %>
	</div>
</div>
