<% content_for :title do %>
	<%= @item.display_name %> :: LearnAwesome
<% end %>

<% content_for :opengraph do %>
  <meta name="keywords" content="personalized learning platform, edtech, curated links, best books, best podcasts, best videos, learn new skills">
  <meta name="description" content="<%= @item.description %>: LearnAwesome.org :: Humanity's universal learning map">

  <meta property="og:title" content="<%= @item.display_name %> :: LearnAwesome.org">
  <meta property="og:description" content="LearnAwesome.org :: Humanity's universal learning map">
  <meta property="og:image" content="<%= @item.image_url || 'https://learnawesome.org/stream/assets/img/ogimage.png' %>">
  <!-- <meta property="og:url" content="https://learnawesome.org/"> -->
  <meta name="twitter:card" content="summary_large_image">
<% end %>


<div class="row">
	<!-- Item details -->
	<div class="col-md-6 mb-4 mb-md-0">
		<%= render 'left_card' %>
	</div>
	<!-- End item details -->

	<!-- Right side bar -->
	<div class="col-md-6">
		<% if user_signed_in? %>
			<div class="card mb-4">
				<div class="card-body">
					<%= render 'review_form' %>
				</div>
			</div>
		<% end %>

		<% if @item.related_items.any? %>
			<%= render 'related_card' %>
		<% end %>

		<% if @item.reviews.completed.count >= 0 %>
			<%= render 'review_card' %>
		<% end %>

		<%= render 'recommended_card' %>
	</div>
</div>