  <% if @course.user != current_user %>
    <%= render partial: 'teacher_dashboard' %>
  <% else %>
  
  <% current_user_level = @course.current_user_level(current_user) %>

<% if current_user_level %>
<div class="md:flex md:items-center md:justify-between mb-12">
  <div class="flex-1 min-w-0">
    <p><a href="/courses" class="text-indigo-700 underline">Browse All Courses</a></p>
    <h2 class="text-2xl font-bold leading-7 text-gray-900 sm:text-3xl sm:truncate">
      <%= @course.name %>
    </h2>
    <p class="text-gray-700 text-regular">By <%= @course.user.nickname %></p>
  </div>
  <div class="mt-4 flex md:mt-0 md:ml-4">
  </div>
</div>
<% end %>

<main class="lg:relative">
    <div class="mx-auto max-w-7xl w-full pt-16 pb-20 text-center lg:py-48 lg:text-left">
      <div class="px-4 lg:w-1/2 sm:px-8 xl:pr-16">
        <% if current_user_level %>
          <h1 class="text-2xl tracking-tight font-bold text-gray-900"><%= current_user_level.level.name %></h1>
          <p><%= current_user_level.level.description %></p>
          <p><a href="<%= current_user_level.level.link %>" target="_blank"><%= current_user_level.level.item_type_id %></a></p>
        <% else %>
          <h1 class="text-4xl tracking-tight font-extrabold text-gray-900 sm:text-5xl md:text-6xl lg:text-5xl xl:text-6xl">
            <span class="block xl:inline"><%= @course.name %></span>
            <span class="block text-indigo-600 xl:inline">by <%= @course.user.nickname %></span>
          </h1>
          <p class="mt-3 max-w-md mx-auto text-lg text-gray-500 sm:text-xl md:mt-5 md:max-w-3xl">
            <%= @course.description %>
          </p>
          <div class="mt-10 sm:flex sm:justify-center lg:justify-start">
            <div class="rounded-md shadow">
              <%= button_to 'Start', enroll_course_path(@course), class: "w-full flex items-center justify-center px-8 py-3 border border-transparent text-base font-medium rounded-md text-white bg-indigo-600 hover:bg-indigo-700 md:py-4 md:text-lg md:px-10" %>
            </div>
            <!-- <div class="mt-3 rounded-md shadow sm:mt-0 sm:ml-3">
              <a href="#" class="w-full flex items-center justify-center px-8 py-3 border border-transparent text-base font-medium rounded-md text-indigo-600 bg-white hover:bg-gray-50 md:py-4 md:text-lg md:px-10">
                Live demo
              </a>
            </div> -->
          </div>
        <% end %>
      </div>
    </div>
    <div class="relative w-full h-64 sm:h-72 md:h-96 lg:absolute lg:inset-y-0 lg:right-0 lg:w-1/2 lg:h-full">
      <img class="absolute inset-0 w-full h-full object-cover" src="<%= @course.image_url %>" alt="">
    </div>
  </main>

<% end %>