<div class="row">
  <div class="col-md-6 mt-2 mb-4">
    <%= form_with(model: flash_card, local: true, id: "flash_card_form") do |form| %>
      <% if flash_card.errors.any? %>
        <div class="card p-4 mb-4" id="error_explanation">
          <p><%= pluralize(flash_card.errors.count, "error") %> prohibited this flash card from being saved:</p>
          <ul>
            <% flash_card.errors.full_messages.each do |message| %>
              <li class="text-danger"><%= message %></li>
            <% end %>
          </ul>
        </div>
      <% end %>

      <div class="form-group mb-4">
        <%= form.label :question, "Question (appears on the front side)", class: "font-weight-bold" %>
        <%= form.text_area :question %>
      </div>

      <div class="form-group mb-4">
        <%= form.label :answer, "Answer (appears on the back side)", class: "font-weight-bold" %>
        <%= form.text_area :answer %>
      </div>

      <% if @flash_card.url.present? %>
        <div class="form-group mb-4">
          <%= form.label :url, "URL (Optional)" %><br/>
          <%= form.url_field :url, class: "form-control" %>
        </div>
      <% end %>

      <div class="actions">
        <%= form.submit "Save Flash Card", class: "btn btn-primary" %>
      </div>
    <% end %>
  </div>
  <div class="col-md-4">
  <div class="card p-4 pb-0 mb-4">
      <p class="text-info">
        <strong>Heads Up!</strong>
        <p class="text-info">Both <em>Question</em> and <em>Answer</em> fields support the lightweight Markdown syntax. <%= link_to "Click here", "https://guides.github.com/features/mastering-markdown/", target: "_blank", class: "" %> to learn the Markdown syntax in just a few minutes.</p>
        <p class="text-info">Also, MathJax and LaTeX is supported. Surround your MathJax or LaTeX expressions with a single <code>$</code> on each side for inline rendering. Learn more <%= link_to "here", "https://github.com/zombie110year/markdown-it-katex#examples", target: "_blank", class: "" %>.</p>
      </p>
    </div>
  </div>
</div>
