<p id="notice"><%= notice %></p>

  <div class="row">
  <div class="col-md-6 mb-4">
      <% @flash_card.tap do |fc| %>
                <div class="card">
                  <header class="card-header">
                    <!-- <h5 class="h3 card-title">Card Title</h5> -->
                    <h6 class="card-subtitle text-muted text-uppercase"></h6>
                  </header>
                  
                  <div class="card-body">
                    <p class="card-text"><%= fc.question %></p>
                    <hr/>
                    <p class="card-text"><%= fc.answer %></p>
                    <p><small>Did you recall the answer correctly?</small></p>
                    <a href="#" class="btn btn-block btn-danger">No, I didn't recall it.</a>
                    <a href="#" class="btn btn-block btn-success">Yes, I recalled it.</a>
                  </div>
                </div>
                <!-- End Card Header with Image  -->
              </div>
      <% end %>
  </div>

  </div>

<p><%= link_to 'Edit', edit_flash_card_path(@flash_card) %> | <%= link_to 'Back', flash_cards_path %></p>
