<% content_for :title do %>
	<%= @review.display_title %> at LearnAwesome.org
<% end %>

<% content_for :opengraph do %>
  <meta name="keywords" content="review, rating">
  <meta name="description" content="<%= @review.og_description %>">

  <meta property="og:title" content="<%= @review.display_title %> at LearnAwesome.org">
  <meta property="og:description" content="<%= @review.og_description %>">
  <meta property="og:image" content="<%= @review.og_image %>">
  <meta property="og:url" content="<%= review_url(@review) %>">
  <meta name="twitter:card" content="summary_large_image">
<% end %>



<div class="card shadow-sm p-3 mb-5 bg-white rounded">
	<div class="d-flex header justify-content-between">
		<h2 class="h2 card-header-title"><b><%= link_to @review.user.nickname, @review.user %>'s review for <%= link_to @review.item.display_name, @review.item %></b></h2>

		<ul class="list-inline ml-auto mb-0">

        <li class="list-inline-item mr-3">
          <a class="link-muted h3" href="<%= review_url(@review) %>" title="Permalink">
            <i class="fas fa-link"></i>
          </a>
		</li>


		<li class="list-inline-item mr-3">
		<a class="link-muted h3" href="https://www.facebook.com/sharer/sharer.php?u=<%= review_url(@review) %>&src=sdkpreparse" target="_blank"><i class="fab fa-facebook"></i></a>
		</li>
	  	
		<li class="list-inline-item mr-3">
	  	<a class="link-muted h3" href="https://twitter.com/intent/tweet?url=<%= review_url(@review) %>" target="_blank"><i class="fab fa-twitter"></i></a>
	  	</li>

	  	</ul>
	</div>
	<div class="card-body">
		<div class="row">
			<div class="col-md-6 mb-4">
			  <div class="card">
				<div class="card-body">
					<div class="list-group list-lg-group list-group-flush">

							<div class="list-group-item">
								<div class="media">
									<img class="u-avatar rounded-circle mr-3" src="<%= @review.user.avatar_image %>" alt="<%= @review.user.nickname %>"/>

									<div class="media-body">
										<div class="d-md-flex align-items-center">
											<h4 class="mb-1">
												<%= link_to @review.user.nickname, user_path(@review.user) %> <span class="badge badge-light mx-1"><%= @review.display_rating %></span>
											</h4>
											<small class="text-muted ml-md-auto"><%= @review.created_at.to_date.to_s %></small>
										</div>
										<p><i><%= @review.tags_text %></i></p>
										<p class="mb-0"><%= @review.notes %></p><br/>
									</div>
								</div>
							</div>

					</div>
				</div>
			  </div>
			</div>
		</div>
	</div>

	<footer class="card-footer">

	</footer>
</div>

<!-- Review snippet for Google: https://developers.google.com/search/docs/data-types/review-snippet for other types -->
<% if ['book','course'].include?(@review.item.item_type_id) %>
<script type="application/ld+json">
{
	"@context": "https://schema.org/",
	"@type": "Review",
	"itemReviewed": {
		"@type": "<%= @review.item.item_type_id.capitalize %>%",
		"image": "<%= @review.item.image_url %>",
		"name": "<%= @review.item.name %>"
	},
	"reviewRating": {
		"@type": "Rating",
		"ratingValue": "<%= @review.overall_score %>"
	},
	"name": "<%= @review.item.name %>",
	"reviewBody": "<%= @review.notes %>"
}
</script>
<% end %>