<!DOCTYPE html>
<html lang="en" class="no-js">
  <!-- Head -->
  <head>
    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-142191820-1"></script>
    <script>
      window.dataLayer = window.dataLayer || [];
      function gtag(){dataLayer.push(arguments);}
      gtag('js', new Date());

      gtag('config', 'UA-142191820-1');
    </script>
    <title><%= content_for?(:title) ? yield(:title) : "LearnAwesome.org" %></title>

    <!-- Meta -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta http-equiv="x-ua-compatible" content="ie=edge">

    <% if content_for?(:opengraph) %>
      <%= yield(:opengraph) %>
    <% else %>
      <meta name="keywords" content="personalized learning platform, edtech, curated links, best books, best podcasts, best videos, learn new skills">
      <meta name="description" content="Humanity's universal learning map">

      <meta property="og:title" content="LearnAwesome.org">
      <meta property="og:description" content="Humanity's universal learning map.">
      <meta property="og:image" content="https://learnawesome.org/stream/assets/img/ogimage.png">
      <!-- <meta property="og:url" content="https://learnawesome.org/"> -->
      <meta name="twitter:card" content="summary_large_image">
    <% end %>
    <meta name="twitter:site" content="@learn_awesome">

    <link rel="search"
      type="application/opensearchdescription+xml"
      title="LearnAwesome"
      href="/opensearch.xml">

    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>

    <%= javascript_pack_tag 'application' %>

    <!-- Favicon -->
    <link rel="shortcut icon" href="/favicon.png" type="image/png">

    <!-- Web Fonts -->
    <link href="//fonts.googleapis.com/css?family=Open+Sans:300,400,600,700" rel="stylesheet">

    <!-- Components Vendor Styles -->
    <link rel="stylesheet" href="/stream/assets/vendor/font-awesome/css/all.min.css">
    <link rel="stylesheet" href="/stream/assets/vendor/malihu-custom-scrollbar-plugin/jquery.mCustomScrollbar.css">

    <!-- Theme Styles -->
    <link rel="stylesheet" href="/stream/assets/css/theme.css">
  </head>
  <!-- End Head -->

  <body>
    <!-- Header (Topbar) -->
    <header class="u-header">
      <div class="u-header-left">
        <a class="u-header-logo" href="/">
          <img class="u-logo-desktop" src="/stream/assets/img/logo.png" width="160" alt="LearnAwesome">
          <img class="img-fluid u-logo-mobile" src="/stream/assets/img/logo-mobile.png" width="50" alt="LearnAwesome">
        </a>
      </div>

      <div class="u-header-middle">
        <a class="js-sidebar-invoker u-sidebar-invoker" href="#!"
           data-is-close-all-except-this="true"
           data-target="#sidebar">
          <i class="fa fa-bars u-sidebar-invoker__icon--open"></i>
          <i class="fa fa-times u-sidebar-invoker__icon--close"></i>
        </a>

        <div class="u-header-search"
             data-search-mobile-invoker="#headerSearchMobileInvoker"
             data-search-target="#headerSearch">
          <a id="headerSearchMobileInvoker" class="btn btn-link input-group-prepend u-header-search__mobile-invoker" href="#!">
            <i class="fa fa-search"></i>
          </a>

          <div id="headerSearch" class="u-header-search-form">
            <form action="/search?top=true" accept-charset="UTF-8" method="get">
              <div class="input-group" id="topformdiv">
                <button class="btn-link input-group-prepend u-header-search__btn" type="submit">
                  <i class="fa fa-search"></i>
                </button>
                <input name="q" value="<%= @q %>" autocomplete="off" minlength="3" maxlength="30" class="form-control u-header-search__field typeahead" id="topsearch" type="search" placeholder="What do you wanna learn?" style="border-radius: 2px; border: thin solid gray; padding-left: 4px">
              </div>
            </form>
          </div>
        </div>
      </div>

      <div class="u-header-right">

        <% if current_user.present? %>
        <!-- Notifications -->
        <div class="dropdown mr-4">
          <a class="link-muted" href="#!" role="button" id="dropdownMenuLink" aria-haspopup="true" aria-expanded="false" data-toggle="dropdown">
            <span class="h3">
              <i class="far fa-bell"></i>
            </span>
            <span class="u-indicator u-indicator-top-right u-indicator--xxs bg-info"></span>
          </a>

          <div class="dropdown-menu dropdown-menu-right border-0 py-0 mt-4" aria-labelledby="dropdownMenuLink" style="width: 360px;">
            <div class="card">
              <div class="card-header d-flex align-items-center py-3">
                <h2 class="h4 card-header-title">Notifications</h2>
                <!-- <a class="ml-auto" href="#">Clear all</a> -->
              </div>

              <div class="card-body p-0">
                <div class="list-group list-group-flush">
                  <% current_user.notifications.each do |n| %>
                  <!-- Notification -->
                  <%= link_to(n.target, class: "list-group-item list-group-item-action", target: :_blank) do %>
                  <!-- <a class="list-group-item list-group-item-action" href="<%= n.target %>"> -->
                    <div class="media align-items-center">
                      <img class="u-avatar--xs img-fluid rounded-circle mr-2" src="<%= n.image %>" alt="User Profile">


                      <div class="media-body">
                        <div class="d-flex align-items-center">
                          <h4 class="mb-1"><%= n.headline %></h4>
                          <small class="text-muted ml-auto"><%= n.date %></small>
                        </div>

                        <p class="text-truncate mb-0" style="max-width: 250px;">
                          <%= n.msg %>
                        </p>
                      </div>
                    </div>
                  </a>
                  <% end %>
                  <!-- End Notification -->
                  <% end %>

                </div>
              </div>

              <!--<div class="card-footer py-3">
                <a class="btn btn-block btn-outline-primary" href="#">View all notifications</a>
              </div>-->
            </div>
          </div>
        </div>
        <!-- End Notifications -->


        <!-- User Profile -->
        <div class="dropdown ml-2">
          <a class="link-muted d-flex align-items-center" href="#!" role="button" id="dropdownMenuLink" aria-haspopup="true" aria-expanded="false" data-toggle="dropdown">
            <img class="u-avatar--xs img-fluid rounded-circle mr-2" src="<%= current_user.auth0["info"]["image"] %>" alt="User Profile">
            <span class="text-dark d-none d-sm-inline-block">
              <%= current_user.nickname %> <small class="fa fa-angle-down text-muted ml-1"></small>
            </span>
          </a>

          <div class="dropdown-menu dropdown-menu-right border-0 py-0 mt-3" aria-labelledby="dropdownMenuLink" style="width: 260px;">
            <div class="card">

              <div class="card-body">
                <ul class="list-unstyled mb-0">
                  <li class="mb-4">
                    <a class="d-flex align-items-center link-dark" href="/users/<%= current_user.id %>">
                      <span class="h3 mb-0"><i class="far fa-user-circle text-muted mr-2"></i></span> View Profile
                    </a>
                  </li>

                  <li class="mb-4">
                    <a class="d-flex align-items-center link-dark" href="/users/<%= current_user.id %>/settings">
                      <span class="h3 mb-0"><i class="far fa-list-alt text-muted mr-2"></i></span> Settings
                    </a>
                  </li>
<!--
                  <li class="mb-4">
                    <a class="d-flex align-items-center link-dark" href="#!">
                      <span class="h3 mb-0"><i class="far fa-laugh-wink text-muted mr-2"></i></span> Invite your friends
                    </a>
                  </li>
-->
                  <li>
                    <a class="d-flex align-items-center link-dark" href="/logout">
                      <span class="h3 mb-0"><i class="far fa-share-square text-muted mr-2"></i></span> Sign Out
                    </a>
                  </li>
                </ul>
              </div>
            </div>
          </div>
        </div>
        <!-- End User Profile -->

        <% else %>

        <a class="btn btn-info" href="/auth/auth0">Sign In <%= current_user %></a>

        <% end %>
      </div>
    </header>
    <!-- End Header (Topbar) -->

    <main class="u-main" role="main">
      <!-- Sidebar -->
      <aside id="sidebar" class="u-sidebar">
        <div class="u-sidebar-inner">
          <header class="u-sidebar-header">
            <a class="u-sidebar-logo" href="index.html">
              <img class="img-fluid" src="/stream/assets/img/logo.png" width="124" alt="Home">
            </a>
          </header>

          <nav class="u-sidebar-nav">
            <ul class="u-sidebar-nav-menu u-sidebar-nav-menu--top-level">

              <!-- Forms -->
              <li class="u-sidebar-nav-menu__item">
                <a class="u-sidebar-nav-menu__link active" href="/items/search">
                  <i class="far fa-edit u-sidebar-nav-menu__item-icon"></i>
                  <span class="u-sidebar-nav-menu__item-title">Add A Link</span>
                </a>
              </li>
              <!-- End Forms -->

              <% if current_user.present? %>

                <li class="u-sidebar-nav-menu__item">
                  <a class="u-sidebar-nav-menu__link <%= 'selectedtab' if params[:controller] == 'dashboard' && params[:action] == 'show' %>" href="/dashboard">
                    <img src="/nounproject/icons/dashboard.svg" class="u-sidebar-nav-menu__item-icon"></img>
                    <span class="u-sidebar-nav-menu__item-title">Dashboard</span>
                  </a>
                </li>

              <% end %>

              <!-- Tables -->
              <li class="u-sidebar-nav-menu__item">
                <a class="u-sidebar-nav-menu__link <%= 'selectedtab' if params[:controller] == 'topics' && params[:action] == 'index' %>" href="/topics">
                  <img src="/nounproject/icons/browse_by_topic.svg" class="u-sidebar-nav-menu__item-icon"></img>
                  <span class="u-sidebar-nav-menu__item-title">Browse by Topic</span>
                </a>
              </li>
              <!-- End Tables -->

              <!-- Tables -->
              <li class="u-sidebar-nav-menu__item">
                <a class="u-sidebar-nav-menu__link <%= 'selectedtab' if params[:controller] == 'item_types' && params[:action] == 'index' %>" href="/formats">
                  <img src="/nounproject/icons/browse_by_format.svg" class="u-sidebar-nav-menu__item-icon"></img>
                  <span class="u-sidebar-nav-menu__item-title">Browse by Format</span>
                </a>
              </li>
              <!-- End Tables -->

              <!-- Tables -->
              <li class="u-sidebar-nav-menu__item">
                <a class="u-sidebar-nav-menu__link" href="/items/discover">
                  <img src="/nounproject/icons/random_item.svg" class="u-sidebar-nav-menu__item-icon"></img>
                  <span class="u-sidebar-nav-menu__item-title">Random Item</span>
                </a>
              </li>

              <li class="u-sidebar-nav-menu__item">
                <a class="u-sidebar-nav-menu__link" href="/topics/discover">
                  <img src="/nounproject/icons/random_topic.svg" class="u-sidebar-nav-menu__item-icon"></img>
                  <span class="u-sidebar-nav-menu__item-title">Random Topic</span>
                </a>
              </li>
              <!-- End Tables -->

              <!-- Tables -->
              <li class="u-sidebar-nav-menu__item">
                <a class="u-sidebar-nav-menu__link" href="/items/query">
                  <img src="/nounproject/icons/advanced_search.svg" class="u-sidebar-nav-menu__item-icon"></img>
                  <span class="u-sidebar-nav-menu__item-title">Advanced Search</span>
                </a>
              </li>
              <!-- End Tables -->

              <hr>

              <li class="u-sidebar-nav-menu__item">
                <a class="u-sidebar-nav-menu__link" href="/about">
                  <img src="/nounproject/icons/about.svg" class="u-sidebar-nav-menu__item-icon"></img>
                  <span class="u-sidebar-nav-menu__item-title">About LearnAwesome</span>
                </a>
              </li>

              <li class="u-sidebar-nav-menu__item">
                <a class="u-sidebar-nav-menu__link" href="/whatsnew">
                  <img src="/nounproject/icons/whatsnew.svg" class="u-sidebar-nav-menu__item-icon"></img>
                  <span class="u-sidebar-nav-menu__item-title">What's New</span>
                </a>
              </li>

              <% if request.user_agent.to_s.downcase.include?("firefox") %>
              <li class="u-sidebar-nav-menu__item">
                <a class="u-sidebar-nav-menu__link" target="_blank" href="https://addons.mozilla.org/en-US/firefox/addon/learnawesome/">
                  <img src="/nounproject/icons/addon.svg" class="u-sidebar-nav-menu__item-icon"></img>
                  <span class="u-sidebar-nav-menu__item-title">Get Browser Extension</span>
                </a>
              </li>
              <% elsif request.user_agent.to_s.downcase.include?("chrome") %>
              <li class="u-sidebar-nav-menu__item">
                <a class="u-sidebar-nav-menu__link" target="_blank" href="https://chrome.google.com/webstore/detail/learnawesome/mfmicnedcecjcchodnaijomibiplacie">
                  <img src="/nounproject/icons/addon.svg" class="u-sidebar-nav-menu__item-icon"></img>
                  <span class="u-sidebar-nav-menu__item-title">Get Browser Extension</span>
                </a>
              </li>
              <% end %>

              <li class="u-sidebar-nav-menu__item">
                <a class="u-sidebar-nav-menu__link" href="https://github.com/learn-awesome/learn" target="_blank">
                  <img src="/nounproject/icons/github.svg" width=24 height=24 class="u-sidebar-nav-menu__item-icon"></img>
                  <span class="u-sidebar-nav-menu__item-title">Send a PR</span>
                </a>
              </li>

              <!-- <li class="u-sidebar-nav-menu__item" style="background-color: yellow">
                <a class="u-sidebar-nav-menu__link" href="https://book.learnawesome.org" target="_blank">
                  <img src="/book.svg" class="u-sidebar-nav-menu__item-icon" width=24 height=24></img>
                  <span class="u-sidebar-nav-menu__item-title">The Book Project</span>
                </a>
              </li> -->
              
            </ul>
          </nav>
        </div>
      </aside>
      <!-- End Sidebar -->

      <div class="u-content">
        <div class="u-body">
          <% flash.each do |name, msg| -%>
            <%= content_tag :div, msg, class: ("alert alert-" + name + " fade show") %>
          <% end -%>
          <%= yield %>
        </div>

        <!-- Footer -->
        <footer class="u-footer d-md-flex align-items-md-center text-center text-md-left text-muted">
          <ul class="list-inline small mb-3 mb-md-0">
            <li class="list-inline-item mr-4">
              <a class="text-muted" href="/about">About LearnAwesome</a>
            </li>
            <li class="list-inline-item mr-4">
              <a href="https://twitter.com/learn_awesome?ref_src=twsrc%5Etfw" class="twitter-follow-button" data-size="large" data-show-count="false">Follow @learn_awesome</a><script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>
            </li>
            <li class="list-inline-item">
              <a width="150" height="50" href="https://auth0.com/?utm_source=oss&utm_medium=gp&utm_campaign=oss" target="_blank" alt="Single Sign On & Token Based Authentication - Auth0"><img width="150" height="50" alt="JWT Auth for open source projects" src="//cdn.auth0.com/oss/badges/a0-badge-light.png"/></a>
            </li>

            <li class="list-inline-item">
              <a href="https://www.producthunt.com/posts/learnawesome?utm_source=badge-featured&utm_medium=badge&utm_souce=badge-learnawesome" target="_blank"><img src="https://api.producthunt.com/widgets/embed-image/v1/featured.svg?post_id=161992&theme=light" alt="LearnAwesome - Humanity's universal learning map | Product Hunt Embed" style="width: 250px; height: 54px;" width="250px" height="54px" /></a>
            </li>
          </ul>

          <small class="text-muted ml-auto">&copy;</small>
        </footer>
        <!-- End Footer -->
      </div>
    </main>

    <!-- Global Vendor -->
    <script src="/stream/assets/vendor/jquery/dist/jquery.min.js"></script>
    <script src="/stream/assets/vendor/jquery-migrate/jquery-migrate.min.js"></script>
    <script src="/stream/assets/vendor/popper.js/dist/umd/popper.min.js"></script>
    <script src="/stream/assets/vendor/bootstrap/bootstrap.min.js"></script>
    <script src="/stream/assets/vendor/typeahead/typeahead.bundle.min.js"></script>

    <!-- Plugins -->
    <script src="/stream/assets/vendor/malihu-custom-scrollbar-plugin/jquery.mCustomScrollbar.concat.min.js"></script>

    <!-- Initialization  -->
    <script src="/stream/assets/js/sidebar-nav.js"></script>
    <script src="/stream/assets/js/main.js"></script>

    <script>
      ((window.gitter = {}).chat = {}).options = {
        room: 'learn-awesome/community'
      };
    </script>
    <script src="https://sidecar.gitter.im/dist/sidecar.v1.js" async defer></script>
  </body>
</html>