<!DOCTYPE html>
<html lang="en" class="no-js">
  <!-- Head -->
  <head>
    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-142191820-1"></script>
    <script>
      window.dataLayer = window.dataLayer || [];
      function gtag(){dataLayer.push(arguments);}
      gtag('js', new Date());

      gtag('config', 'UA-142191820-1');
    </script>
    <title><%= content_for?(:title) ? yield(:title) : "LearnAwesome" %></title>

    <!-- Meta -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <meta name="keywords" content="Humanity's universal skills graph">
    <meta name="description" content="Learn Awesome">
    <meta name="author" content="learnawesome.org">

    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>

    <!-- Favicon -->
    <link rel="shortcut icon" href="/favicon.ico" type="image/x-icon">

    <!-- Web Fonts -->
    <link href="//fonts.googleapis.com/css?family=Open+Sans:300,400,600,700" rel="stylesheet">

    <!-- Components Vendor Styles -->
    <link rel="stylesheet" href="/stream/assets/vendor/font-awesome/css/all.min.css">
    <link rel="stylesheet" href="/stream/assets/vendor/malihu-custom-scrollbar-plugin/jquery.mCustomScrollbar.css">

    <!-- Theme Styles -->
    <link rel="stylesheet" href="/stream/assets/css/theme.css">
  </head>
  <!-- End Head -->

  <body>
    <!-- Header (Topbar) -->
    <header class="u-header">
      <div class="u-header-left">
        <a class="u-header-logo" href="/">
          <img class="u-logo-desktop" src="/stream/assets/img/logo.png" width="160" alt="LearnAwesome">
          <img class="img-fluid u-logo-mobile" src="/stream/assets/img/logo-mobile.png" width="50" alt="LearnAwesome">
        </a>
      </div>

      <div class="u-header-middle">
        <a class="js-sidebar-invoker u-sidebar-invoker" href="#!"
           data-is-close-all-except-this="true"
           data-target="#sidebar">
          <i class="fa fa-bars u-sidebar-invoker__icon--open"></i>
          <i class="fa fa-times u-sidebar-invoker__icon--close"></i>
        </a>

        <div class="u-header-search"
             data-search-mobile-invoker="#headerSearchMobileInvoker"
             data-search-target="#headerSearch">
          <a id="headerSearchMobileInvoker" class="btn btn-link input-group-prepend u-header-search__mobile-invoker" href="#!">
            <i class="fa fa-search"></i>
          </a>

          <div id="headerSearch" class="u-header-search-form">
            <form action="/items/search?top=true" accept-charset="UTF-8" method="get">
              <div class="input-group" id="topformdiv">
                <button class="btn-link input-group-prepend u-header-search__btn" type="submit">
                  <i class="fa fa-search"></i>
                </button>
                <input name="q" value="<%= @q %>" autocomplete="off" minlength="5" maxlength="30" class="form-control u-header-search__field typeahead" id="topsearch" type="search" placeholder="Type to search…" style="border-radius: 8px; border: thin solid gray; padding-left: 8px">
              </div>
            </form>
          </div>
        </div>
      </div>

      <div class="u-header-right">
        <% if current_user.present? %>

        <!-- User Profile -->
        <div class="dropdown ml-2">
          <a class="link-muted d-flex align-items-center" href="#!" role="button" id="dropdownMenuLink" aria-haspopup="true" aria-expanded="false" data-toggle="dropdown">
            <img class="u-avatar--xs img-fluid rounded-circle mr-2" src="<%= current_user.auth0["info"]["image"] %>" alt="User Profile">
            <span class="text-dark d-none d-sm-inline-block">
              <%= current_user.nickname %> <small class="fa fa-angle-down text-muted ml-1"></small>
            </span>
          </a>

          <div class="dropdown-menu dropdown-menu-right border-0 py-0 mt-3" aria-labelledby="dropdownMenuLink" style="width: 260px;">
            <div class="card">

              <div class="card-body">
                <ul class="list-unstyled mb-0">
                  <li class="mb-4">
                    <a class="d-flex align-items-center link-dark" href="/users/<%= current_user.id %>">
                      <span class="h3 mb-0"><i class="far fa-user-circle text-muted mr-2"></i></span> View Profile
                    </a>
                  </li>
<!--
                  <li class="mb-4">
                    <a class="d-flex align-items-center link-dark" href="#!">
                      <span class="h3 mb-0"><i class="far fa-list-alt text-muted mr-2"></i></span> Settings
                    </a>
                  </li>
                  <li class="mb-4">
                    <a class="d-flex align-items-center link-dark" href="#!">
                      <span class="h3 mb-0"><i class="far fa-laugh-wink text-muted mr-2"></i></span> Invite your friends
                    </a>
                  </li>
-->
                  <li>
                    <a class="d-flex align-items-center link-dark" href="/logout">
                      <span class="h3 mb-0"><i class="far fa-share-square text-muted mr-2"></i></span> Sign Out
                    </a>
                  </li>
                </ul>
              </div>
            </div>
          </div>
        </div>
        <!-- End User Profile -->

        <% else %>

        <a class="btn btn-info" href="/auth/auth0">Sign In <%= current_user %></a>

        <% end %>
      </div>
    </header>
    <!-- End Header (Topbar) -->

    <main class="u-main" role="main">
      <!-- Sidebar -->
      <aside id="sidebar" class="u-sidebar">
        <div class="u-sidebar-inner">
          <header class="u-sidebar-header">
            <a class="u-sidebar-logo" href="index.html">
              <img class="img-fluid" src="/stream/assets/img/logo.png" width="124" alt="Home">
            </a>
          </header>

          <nav class="u-sidebar-nav">
            <ul class="u-sidebar-nav-menu u-sidebar-nav-menu--top-level">

              <% if current_user.present? %>
              <!-- Forms -->
              <li class="u-sidebar-nav-menu__item">
                <a class="u-sidebar-nav-menu__link active" href="/items/search">
                  <i class="far fa-edit u-sidebar-nav-menu__item-icon"></i>
                  <span class="u-sidebar-nav-menu__item-title">Add a link or review</span>
                </a>
              </li>
              <!-- End Forms -->

              <!-- Dashboard -->
              <li class="u-sidebar-nav-menu__item">
                <a class="u-sidebar-nav-menu__link <%= 'selectedtab' if params[:controller] == 'dashboard' && params[:action] == 'show' %>" href="/dashboard">
                  <i class="fa fa-cubes u-sidebar-nav-menu__item-icon"></i>
                  <span class="u-sidebar-nav-menu__item-title">Dashboard</span>
                </a>
              </li>
              <!-- End Dashboard -->
              <% end %>

              <!-- Tables -->
              <li class="u-sidebar-nav-menu__item">
                <a class="u-sidebar-nav-menu__link <%= 'selectedtab' if params[:controller] == 'topics' && params[:action] == 'index' %>" href="/topics">
                  <i class="far fa-list-alt u-sidebar-nav-menu__item-icon"></i>
                  <span class="u-sidebar-nav-menu__item-title">Browse by Topic</span>
                </a>
              </li>
              <!-- End Tables -->

              <!-- Tables -->
              <li class="u-sidebar-nav-menu__item">
                <a class="u-sidebar-nav-menu__link <%= 'selectedtab' if params[:controller] == 'item_types' && params[:action] == 'index' %>" href="/formats">
                  <i class="far fa-list-alt u-sidebar-nav-menu__item-icon"></i>
                  <span class="u-sidebar-nav-menu__item-title">Browse by Format</span>
                </a>
              </li>
              <!-- End Tables -->

              <!-- Tables -->
              <li class="u-sidebar-nav-menu__item">
                <a class="u-sidebar-nav-menu__link" href="/items/discover">
                  <i class="far fa-paper-plane u-sidebar-nav-menu__item-icon"></i>
                  <span class="u-sidebar-nav-menu__item-title">Random</span>
                </a>
              </li>
              <!-- End Tables -->

              <!-- Tables -->
              <li class="u-sidebar-nav-menu__item">
                <a class="u-sidebar-nav-menu__link" href="/items/query">
                  <i class="fas fa-search u-sidebar-nav-menu__item-icon"></i>
                  <span class="u-sidebar-nav-menu__item-title">Advanced Search</span>
                </a>
              </li>
              <!-- End Tables -->

              <hr>

              <!-- Tables -->
              <li class="u-sidebar-nav-menu__item">
                <a class="u-sidebar-nav-menu__link" href="/about">
                  <i class="fas fa-search u-sidebar-nav-menu__item-icon"></i>
                  <span class="u-sidebar-nav-menu__item-title">About LearnAwesome</span>
                </a>
              </li>
              <!-- End Tables -->

            </ul>
          </nav>
        </div>
      </aside>
      <!-- End Sidebar -->

      <div class="u-content">
        <div class="u-body">
          <% flash.each do |name, msg| -%>
            <%= content_tag :div, msg, class: ("alert alert-" + name + " fade show") %>
          <% end -%>
          <%= yield %>
        </div>

        <!-- Footer -->
        <footer class="u-footer d-md-flex align-items-md-center text-center text-md-left text-muted">
          <ul class="list-inline small mb-3 mb-md-0">
            <li class="list-inline-item mr-4">
              <a class="text-muted" href="/about">About LearnAwesome</a>
            </li>
            <li class="list-inline-item">
              <a width="150" height="50" href="https://auth0.com/?utm_source=oss&utm_medium=gp&utm_campaign=oss" target="_blank" alt="Single Sign On & Token Based Authentication - Auth0"><img width="150" height="50" alt="JWT Auth for open source projects" src="//cdn.auth0.com/oss/badges/a0-badge-light.png"/></a>
            </li>
          </ul>

          <small class="text-muted ml-auto">&copy; 2019
            <a class="text-muted" href="/about">LearnAwesome</a>
            - Some Rights Reserved.
          </small>
        </footer>
        <!-- End Footer -->
      </div>
    </main>

    <!-- Global Vendor -->
    <script src="/stream/assets/vendor/jquery/dist/jquery.min.js"></script>
    <script src="/stream/assets/vendor/jquery-migrate/jquery-migrate.min.js"></script>
    <script src="/stream/assets/vendor/popper.js/dist/umd/popper.min.js"></script>
    <script src="/stream/assets/vendor/bootstrap/bootstrap.min.js"></script>
    <script src="/stream/assets/vendor/typeahead/typeahead.bundle.min.js"></script>

    <!-- Plugins -->
    <script src="/stream/assets/vendor/malihu-custom-scrollbar-plugin/jquery.mCustomScrollbar.concat.min.js"></script>

    <!-- Initialization  -->
    <script src="/stream/assets/js/sidebar-nav.js"></script>
    <script src="/stream/assets/js/main.js"></script>
  </body>
</html>