<!DOCTYPE html>
<html lang="en" class="no-js">
  <head>
    <%= render 'layouts/head_tag' %>
    <!-- Web Fonts -->
    <link href="//fonts.googleapis.com/css?family=Open+Sans:300,400,600,700" rel="stylesheet">

    <!-- Components Vendor Styles -->
    <link rel="stylesheet" href="/stream/assets/vendor/font-awesome/css/all.min.css">
    <link rel="stylesheet" href="/stream/assets/vendor/malihu-custom-scrollbar-plugin/jquery.mCustomScrollbar.css">

    <!-- Theme Styles -->
    <link rel="stylesheet" href="/stream/assets/css/theme.css">
  
  </head>

  <body>
    <%= render 'components/header' %>

    <main class="u-main" role="main">
      <!-- Sidebar -->
      <aside id="sidebar" class="u-sidebar">
        <div class="u-sidebar-inner">
          <header class="u-sidebar-header">
            <a class="u-sidebar-logo" href="/">
              <img class="img-fluid" src="/stream/assets/img/logo.png" width="124" alt="Home">
            </a>
          </header>

          <%= render 'components/navdrawer' %>
        </div>
      </aside>
      <!-- End Sidebar -->

      <div class="u-content">
        <div class="u-body">
          <% flash.each do |name, msg| -%>
            <%= content_tag :div, msg, class: ("alert alert-" + name + " fade show") %>
          <% end -%>
          <%= yield %>
        </div>

        <%= render 'components/footer' %>
      </div>
    </main>

    <!-- Global Vendor -->
    <script src="/stream/assets/vendor/jquery/dist/jquery.min.js"></script>
    <script src="/stream/assets/vendor/jquery-migrate/jquery-migrate.min.js"></script>
    <script src="/stream/assets/vendor/popper.js/dist/umd/popper.min.js"></script>
    <script src="/stream/assets/vendor/bootstrap/bootstrap.min.js"></script>
    <script src="/stream/assets/vendor/typeahead/typeahead.bundle.min.js"></script>

    <!-- Plugins -->
    <script src="/stream/assets/vendor/malihu-custom-scrollbar-plugin/jquery.mCustomScrollbar.concat.min.js"></script>

    <!-- Initialization  -->
    <script src="/stream/assets/js/sidebar-nav.js"></script>
    <script src="/stream/assets/js/main.js"></script>

    <script>
      ((window.gitter = {}).chat = {}).options = {
        room: 'learn-awesome/<%= (@topic && @topic.gitter_room_id.presence) ? @topic.gitter_room.gsub("/","-") : "community" %>'
      };
    </script>
    <script src="https://sidecar.gitter.im/dist/sidecar.v1.js" async defer></script>
    <%= content_for(:model) %>
  </body>
</html>
