<!DOCTYPE html>
<html lang="en" class="no-js">
  <head>
    <%= render 'layouts/head_tag' %>
    <meta name="slack-app-id" content="A019SMY55UH">
    <link rel="stylesheet" href="/stream/assets/vendor/font-awesome/css/all.min.css">
    <script defer src="https://unpkg.com/alpinejs@3.5.2/dist/cdn.min.js"></script>
  </head>

  <body class="antialiased font-sans">

<div class="min-h-screen bg-gray-100">

  <header x-data="{ open: false }" :class="{'fixed inset-0 z-40 overflow-y-auto': open, '': !open}" class="bg-white shadow-sm lg:static lg:overflow-y-visible">
    <div class="max-w-7xl xl:max-w-full mx-auto px-4 sm:px-6 lg:px-8">
      <div class="relative flex justify-between xl:grid xl:grid-cols-12 lg:gap-8">
        <div class="flex md:absolute md:left-0 md:inset-y-0 lg:static xl:col-span-2">
          <div class="flex-shrink-0 flex items-center">
            <a href="/">
              <img class="block h-12 w-auto" src="/stream/assets/img/logo.png" alt="LearnAwesome Logo">
            </a>
          </div>
        </div>
        <div class="min-w-0 flex-1 md:px-8 lg:px-0 xl:col-span-6">
          <div class="flex items-center px-6 py-4 md:max-w-3xl md:mx-auto lg:max-w-none lg:mx-0 xl:px-0">
            <div class="w-full" id="topformdiv">
              <label for="search" class="sr-only">Search</label>
              <div class="relative">
                <div class="pointer-events-none absolute inset-y-0 left-0 pl-3 flex items-center">
                  <!-- Heroicon name: solid/search -->
                  <svg class="h-5 w-5 text-gray-400" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" fill="currentColor" aria-hidden="true">
                    <path fill-rule="evenodd" d="M8 4a4 4 0 100 8 4 4 0 000-8zM2 8a6 6 0 1110.89 3.476l4.817 4.817a1 1 0 01-1.414 1.414l-4.816-4.816A6 6 0 012 8z" clip-rule="evenodd" />
                  </svg>
                </div>
                <input id="topsearch" name="search" class="block w-full bg-white border border-gray-300 rounded-md py-2 pl-10 pr-3 text-sm placeholder-gray-500 focus:outline-none focus:text-gray-900 focus:placeholder-gray-400 focus:ring-1 focus:ring-purple-500 focus:border-purple-500 sm:text-sm typeahead" placeholder="Search" type="search">
              </div>
            </div>
          </div>
        </div>
        <div class="flex items-center md:absolute md:right-0 md:inset-y-0 lg:hidden">
          <!-- Mobile menu button -->
          <button type="button" @click="open = !open" class="-mx-2 rounded-md p-2 inline-flex items-center justify-center text-gray-400 hover:bg-gray-100 hover:text-gray-500 focus:outline-none focus:ring-2 focus:ring-inset focus:ring-purple-500" aria-expanded="false" x-bind:aria-expanded="open">
            <span class="sr-only">Open menu</span>
            <!-- Icon when menu is closed. -->
            <!--
              Heroicon name: outline/menu

              Menu open: "hidden", Menu closed: "block"
            -->
            <svg x-state:on="Menu open" x-state:off="Menu closed" :class="{ 'hidden': open, 'block': !open }" class="block h-6 w-6" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke="currentColor" aria-hidden="true">
              <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M4 6h16M4 12h16M4 18h16" />
            </svg>
            <!-- Icon when menu is open. -->
            <!--
              Heroicon name: outline/x

              Menu open: "block", Menu closed: "hidden"
            -->
            <svg x-state:on="Menu open" x-state:off="Menu closed" :class="{ 'hidden': !open, 'block': open }" class="hidden h-6 w-6" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke="currentColor" aria-hidden="true">
              <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M6 18L18 6M6 6l12 12" />
            </svg>
          </button>
        </div>
        <div class="hidden lg:flex lg:items-center lg:justify-end xl:col-span-4">
          <!-- <a href="#" class="text-sm font-medium text-gray-900 hover:underline">Go Premium</a> -->
          
          <!-- Heroicon name: outline/bell -->
          <!--
          <a href="#" class="ml-5 flex-shrink-0 bg-white rounded-full p-1 text-gray-400 hover:text-gray-500 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-purple-500">
            <span class="sr-only">View notifications</span>
            
            <svg class="h-6 w-6" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke="currentColor" aria-hidden="true">
              <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M15 17h5l-1.405-1.405A2.032 2.032 0 0118 14.158V11a6.002 6.002 0 00-4-5.659V5a2 2 0 10-4 0v.341C7.67 6.165 6 8.388 6 11v3.159c0 .538-.214 1.055-.595 1.436L4 17h5m6 0v1a3 3 0 11-6 0v-1m6 0H9" />
            </svg>
          </a>
          -->

          <!-- Profile dropdown -->
          <% if current_user %>
          <div x-data="{ open: false }" @keydown.window.escape="open = false" @click.away="open = false" class="flex-shrink-0 relative ml-5">
            <div>
              <button @click="open = !open" x-bind:aria-expanded="open" aria-expanded="false" type="button" class="bg-white rounded-full flex focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-purple-500" id="user-menu" aria-haspopup="true">
                <span class="sr-only">Open user menu</span>
                <img class="h-8 w-8 rounded-full" src="<%= current_user.avatar_image %>" alt="">
              </button>
            </div>

            <div x-cloak x-show="open" x-transition:enter="transition ease-out duration-100" x-transition:enter-start="transform opacity-0 scale-95" x-transition:enter-end="transform opacity-100 scale-100" x-transition:leave="transition ease-in duration-75" x-transition:leave-start="transform opacity-100 scale-100" x-transition:leave-end="transform opacity-0 scale-95" class="origin-top-right absolute z-10 right-0 mt-2 w-48 rounded-md shadow-lg bg-white ring-1 ring-black ring-opacity-5 py-1" role="menu" aria-orientation="vertical" aria-labelledby="user-menu">
                <a class="block w-full" href="<%= onboarding_user_path(current_user) %>">
                    <div class="shadow w-full bg-gray-300">
                    <div class="bg-green-400 text-xs leading-none py-1 text-center text-white" style="width: <%= current_user.onboarding_percentage %>%"><%= current_user.onboarding_percentage %>%</div>
                    </div>
                </a>
                <!-- <a href="/flash_cards/practice" class="block px-4 py-2 text-sm text-gray-700 hover:bg-gray-100 transition ease-in-out duration-150" role="menuitem">Practice FlashCards</a> -->
                <a href="/users/<%= current_user.id %>/collections" class="block px-4 py-2 text-sm text-gray-700 hover:bg-gray-100 transition ease-in-out duration-150" role="menuitem">Your Collections</a>
                <a href="/users/<%= current_user.id %>/groups" class="block px-4 py-2 text-sm text-gray-700 hover:bg-gray-100 transition ease-in-out duration-150" role="menuitem">Your Groups</a>
                <a href="/users/<%= current_user.id %>" class="block px-4 py-2 text-sm text-gray-700 hover:bg-gray-100 transition ease-in-out duration-150" role="menuitem">Your Profile</a>
                <a href="/users/<%= current_user.id %>/settings" class="block px-4 py-2 text-sm text-gray-700 hover:bg-gray-100 transition ease-in-out duration-150" role="menuitem">Settings</a>
                <a href="/logout" class="block px-4 py-2 text-sm text-gray-700 hover:bg-gray-100 transition ease-in-out duration-150" role="menuitem">Sign out</a>
            </div>
          </div>
          <% else %>
            <a href="/auth/auth0" class="ml-6 inline-flex items-center px-4 py-2 border border-transparent text-sm font-medium rounded-md shadow-sm text-white bg-purple-600 hover:bg-purple-700 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-purple-500">Sign In</a>
          <% end %>
        </div>
      </div>
    </div>

    <!--
      Mobile menu, toggle classes based on menu state.

      Menu open: "block", Menu closed: "hidden"
    -->
    <nav x-state:on="Menu open" x-state:off="Menu closed" :class="{ 'block': open, 'hidden': !open }" class="hidden lg:hidden" aria-label="Global">
      <div class="max-w-3xl mx-auto px-2 pt-2 pb-3 space-y-1 sm:px-4">
        <a href="/" aria-current="page" class="bg-gray-100 text-gray-900 block rounded-md py-2 px-3 text-base font-medium text-gray-900">Home</a>

        <a href="/topics" aria-current="false" class="hover:bg-gray-50 block rounded-md py-2 px-3 text-base font-medium text-gray-900">Topics</a>

        <a href="/formats" aria-current="false" class="hover:bg-gray-50 block rounded-md py-2 px-3 text-base font-medium text-gray-900">Formats</a>

        <a href="/people" aria-current="false" class="hover:bg-gray-50 block rounded-md py-2 px-3 text-base font-medium text-gray-900">Experts</a>
      </div>
      <div class="border-t border-gray-200 pt-4 pb-3">
        <% if current_user %>
        <div class="max-w-3xl mx-auto px-4 flex items-center sm:px-6">
          <div class="flex-shrink-0">
            <img class="h-10 w-10 rounded-full" src="<%= current_user.avatar_image %>" alt="">
          </div>
          <div class="ml-3">
            <div class="text-base font-medium text-gray-800"><%= current_user.nickname %></div>
            <!-- <div class="text-sm font-medium text-gray-500">chelseahagon@example.com</div> -->
          </div>
        </div>
        <% end %>
        <div class="mt-3 max-w-3xl mx-auto px-2 space-y-1 sm:px-4">
          <% if current_user %>
          <a href="/users/<%= current_user.id %>" class="block rounded-md py-2 px-3 text-base font-medium text-gray-500 hover:bg-gray-50 hover:text-gray-900">Your Profile</a>

          <a href="/users/<%= current_user.id %>/settings" class="block rounded-md py-2 px-3 text-base font-medium text-gray-500 hover:bg-gray-50 hover:text-gray-900">Settings</a>

          <a href="/users/<%= current_user.id %>/collections" class="block rounded-md py-2 px-3 text-base font-medium text-gray-500 hover:bg-gray-50 hover:text-gray-900">Your Collections</a>

          <a href="/users/<%= current_user.id %>/groups" class="block rounded-md py-2 px-3 text-base font-medium text-gray-500 hover:bg-gray-50 hover:text-gray-900">Your Groups</a>

          <a href="/logout" class="block rounded-md py-2 px-3 text-base font-medium text-gray-500 hover:bg-gray-50 hover:text-gray-900">Sign out</a>
          <% else %>
            <a href="/auth/auth0" class="block rounded-md py-2 px-3 text-base font-medium text-gray-500 hover:bg-gray-50 hover:text-gray-900">Sign In</a>
          <% end %>
        </div>
      </div>
    </nav>
  </header>

  <div class="py-10">
    <div class="max-w-3xl mx-auto sm:px-6 lg:max-w-7xl xl:max-w-full lg:px-8 lg:grid lg:grid-cols-12 lg:gap-4">
      <div class="hidden lg:block lg:col-span-3 xl:col-span-2">
        <nav aria-label="Sidebar" class="sticky top-4">
            <%= render 'layouts/tw_sidebar' %>
        </nav>
      </div>
      <%# render partial: 'layouts/newlayout_demo' %>
      <main class="lg:col-span-9 xl:col-span-10">
        <% flash.each do |name, msg| -%>
          <%= content_tag :div, msg, class: "flex items-center #{name} text-white text-sm font-bold px-4 py-3 rounded mb-4 max-w-md mx-auto" %>
        <% end -%>
        <%= yield %>
      </main>
    </div>
  </div>
</div>

<script src="https://typeahead.js.org/releases/latest/typeahead.bundle.js"></script>
</body>
</html>