<!DOCTYPE html>
<html lang="en" class="no-js">
  <head>
    <%= render 'layouts/head_tag' %>
    <link href="/workcation.css" rel="stylesheet">
    <link rel="stylesheet" href="/stream/assets/vendor/font-awesome/css/all.min.css">
    <script src="https://cdn.jsdelivr.net/gh/alpinejs/alpine@v2.x.x/dist/alpine.min.js" defer></script>
  </head>

  <body class="font-sans bg-gray-200">

<div id="app" class="min-h-screen bg-gray-200 antialiased xl:flex xl:flex-col xl:h-screen">
    <header class="bg-gray-900 sm:flex sm:items-center sm:justify-between xl:bg-white xl:flex-shrink-0">
        <div class="flex justify-between px-4 py-3 xl:w-72 xl:bg-white xl:justify-center xl:py-5">
            <div>
            <a href="/"><img src="/stream/assets/img/logo.png" width="160" alt="LearnAwesome"></a>
            </div>
            <div class="flex sm:hidden">
                <button type="button" class="px-2 text-gray-500 hover:text-white focus:outline-none focus:text-white">
                    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" class="h-6 w-6 fill-current">
                        <!---->
                        <path fill-rule="evenodd" d="M4 5h16a1 1 0 0 1 0 2H4a1 1 0 1 1 0-2zm0 6h16a1 1 0 0 1 0 2H4a1 1 0 0 1 0-2zm0 6h16a1 1 0 0 1 0 2H4a1 1 0 0 1 0-2z"></path>
                    </svg>
                </button>
            </div>
        </div>
        <nav class="sm:flex sm:items-center sm:px-4 xl:flex-1 xl:justify-between hidden">
            <div class="hidden xl:block xl:relative xl:max-w-xs xl:w-full" id="topformdiv">
                <div class="absolute inset-y-0 left-0 flex items-center pl-3">
                    <svg viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg" class="h-6 w-6 fill-current text-gray-600">
                        <path d="M16.32 14.9l1.1 1.1c.4-.02.83.13 1.14.44l3 3a1.5 1.5 0 0 1-2.12 2.12l-3-3a1.5 1.5 0 0 1-.44-1.14l-1.1-1.1a8 8 0 1 1 1.41-1.41l.01-.01zM10 16a6 6 0 1 0 0-12 6 6 0 0 0 0 12z"></path>
                    </svg>
                </div>
                <form action="/search?top=true" accept-charset="UTF-8" method="get" id="topformdiv">
                <input name="q" value="<%= @q %>" type="search" id="topsearch" autocomplete="off" placeholder="Search by keywords" class="block w-full border border-transparent bg-gray-200 focus:outline-none focus:bg-white focus:border-gray-300 text-gray-900 rounded-lg pl-10 pr-4 py-2 typeahead">
                </form>
            </div>
            <div class="sm:flex sm:items-center">
                <div class="px-2 pt-2 pb-5 border-b border-gray-800 sm:flex sm:border-b-0 sm:py-0 sm:px-0">
                    <a href="/topics" class="block px-3 py-1 rounded font-semibold text-white hover:bg-gray-800 sm:text-sm sm:px-2 xl:text-gray-900 xl:hover:bg-gray-200">Browse Topics</a>
                    <a href="/items/discover" class="mt-1 block px-3 py-1 rounded font-semibold text-white hover:bg-gray-800 sm:mt-0 sm:text-sm sm:px-2 sm:ml-2 xl:text-gray-900 xl:hover:bg-gray-200">Random Item</a>
                    <a href="/people" class="mt-1 block px-3 py-1 rounded font-semibold text-white hover:bg-gray-800 sm:mt-0 sm:text-sm sm:px-2 sm:ml-2 xl:text-gray-900 xl:hover:bg-gray-200">Experts</a>
                </div>
                <div class="relative px-5 py-5 sm:py-0 sm:ml-4 sm:px-0" x-data="{ open: false }">
                    <div class="flex items-center sm:hidden">
                        <img src="<%= current_user.avatar_image %>" alt="" class="h-10 w-10 object-cover rounded-full border-2 border-gray-600">
                        <span class="ml-4 font-semibold text-gray-200 sm:hidden"><%= current_user.nickname %></span>
                    </div>
                    <div class="mt-5 sm:hidden" x-show="open">
                        <div class="shadow w-full bg-gray-light">
                            <div class="bg-blue-500 text-xs leading-none py-1 text-center text-white" style="width: 45%">45%</div>
                        </div>
                        <a href="/flash_cards/practice"  class="block text-gray-400 hover:text-white">Practice FlashCards</a>
                        <a href="/users/<%= current_user.id %>" class="block text-gray-400 hover:text-white">Account settings</a>
                        <a href="/users/<%= current_user.id %>/settings" class="mt-3 block text-gray-400 hover:text-white">Support</a>
                        <a href="/logout" class="mt-3 block text-gray-400 hover:text-white">Sign out</a>
                    </div>
                    <div class="relative hidden sm:block">
                        <button @click="open = true" type="button" class="block focus:outline-none">
                            <span class="block h-8 w-8 overflow-hidden rounded-full border-2  border-gray-600 xl:border-gray-300">
                            <img src="<%= current_user.avatar_image %>" alt="" class="h-full w-full object-cover"></span>
                        </button>
                        <div x-show="open">
                            <button @click="open = false" type="button" class="z-30 block fixed inset-0 w-full h-full bg-black opacity-50 cursor-default"></button>
                            <div class="absolute z-40 right-0">
                                <div class="mt-3 bg-white xl:border rounded-lg w-48 py-2 shadow-xl">
                                    <div class="shadow w-full bg-gray-light">
                                        <div class="bg-blue-500 text-xs leading-none py-1 text-center text-white" style="width: 45%">45%</div>
                                    </div>
                                    <a href="/flash_cards/practice" class="block hover:text-white text-gray-800 px-4 py-2 hover:bg-indigo-500">Practice FlashCards</a>
                                    <a href="/users/<%= current_user.id %>" class="block hover:text-white text-gray-800 px-4 py-2 hover:bg-indigo-500">Profile</a>
                                    <a href="/users/<%= current_user.id %>/settings" class="block hover:text-white text-gray-800 mt-0 px-4 py-2 hover:bg-indigo-500">Settings</a>
                                    <a href="/logout" class="block hover:text-white text-gray-800 mt-0 px-4 py-2 hover:bg-indigo-500">Sign out</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </nav>
    </header>
    <div class="xl:flex-1 xl:flex xl:overflow-y-hidden">
        <%= render partial: 'components/sidebar' %>
        <main class="py-6 xl:flex-1 xl:overflow-x-hidden">
            <div class="p-6">
                <% flash.each do |name, msg| -%>
                    <%= content_tag :div, msg, class: ("flex items-center bg-green-400 text-white text-sm font-bold px-4 py-3") %>
                <% end -%>
                <%= yield %>
            </div>
        </main>

    </div>
</div>

  <script src="/stream/assets/vendor/typeahead/typeahead.bundle.min.js"></script>
    <script>
      ((window.gitter = {}).chat = {}).options = {
        room: 'learn-awesome/<%= (@topic && @topic.gitter_room_id.presence) ? @topic.gitter_room.gsub("/","-") : "community" %>'
      };
    </script>
    <script src="https://sidecar.gitter.im/dist/sidecar.v1.js" async defer></script>

  </body>
</html>